In [ ]:
################ NEW WORKOUT #################

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
excel_file = pd.ExcelFile('C:/Users/mkaya/Onedrive/Masaüstü/istanbul112_hidden/data/case_reports/europe/2024/monthly/6-HAZİRAN 2024 AVR ASOS TANIDÖNÜŞTÜRÜLMÜŞ DEFTER.xlsx')
dataframes= {sheet_name:excel_file.parse(sheet_name) for sheet_name in excel_file.sheet_names}
dataframes.keys()

dict_keys(['tanı özet', '52852-DEFTER', 'UÇAK34-94'])

In [ ]:
case_report= dataframes['52852-DEFTER']

In [ ]:
move_report= pd.read_excel('C:/Users/mkaya/Downloads/Report_istanbulsaglikrapor_Kontak Bazlı Araç Çalışma Raporu_09.08.2024_mti2co1z.a3x.xlsx')

C:\Users\mkaya\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [ ]:
move_report.columns = move_report.iloc[0]
move_report = move_report[1:]

In [ ]:
move_report['Başlangıç Tarihi']= move_report['Başlangıç Tarihi'].str.replace(' Haziran ', '-06-').str.replace(' Pazartesi', '').str.replace(' Salı', '').str.replace(' Çarşamba', '').str.replace(' Perşembe', '').str.replace(' Cuma', '').str.replace(' Cumartesi', '').str.replace(' Pazar', '').str.replace('rtesi','')

In [ ]:
move_report

,Kayıt No,Cihaz Numarası,Plaka,Başlangıç Tarihi,Başlangıç Adresi,Bitiş Tarihi,Bitiş Adresi,Mesafe,İş Kullanımı,Maksimum Hız km/h,Duraklama Süresi,Rölanti Süresi,Kontak Açık Süresi,Kontak Kapalı - Açık Arasındaki Duraklama Süresi
1,1,752150,34 YC 6941,1-06-2024 17:56:53,"Alaçam Sk., Maden Mh., Adalar, İstanbul, Türkiye",1 Haziran 2024 Cumartesi 18:01:17,Büyük İskele Cd.,0.86,0,33.28,33sn,8sn,4dak 23sn,0sn
2,2,752150,34 YC 6941,1-06-2024 18:05:26,Büyük İskele Cd.,1 Haziran 2024 Cumartesi 18:11:57,NaN,0.66,0,21.66,10sn,3sn,6dak 32sn,4dak 9sn
3,3,752150,34 YC 6941,1-06-2024 18:18:55,NaN,1 Haziran 2024 Cumartesi 18:20:36,NaN,0.09,0,28.42,0sn,0sn,1dak 41sn,6dak 58sn
4,4,752150,34 YC 6941,1-06-2024 18:23:37,"Fenerbahçeli Lefter Sk., Nizam Mh., Adalar, İs...",1 Haziran 2024 Cumartesi 18:34:20,"Alaçam Sk., Maden Mh., Adalar, İstanbul, Türkiye",1.24,0,27.84,3dak 22sn,3sn,10dak 42sn,3dak 1sn
5,5,752150,34 YC 6941,2-06-2024 01:13:59,Marmara Denizi,2 Haziran 2024 Pazar 01:16:11,"Adalar İlçe Emniyet Müdürlüğü, Büyükada Polis ...",0.59,0,29.97,4sn,3sn,2dak 12sn,6sa 39dak 39sn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227106,227106,293865,34 EZZ 393,30-06-2024 20:53:16,NaN,30 Haziran 2024 Pazar 20:59:25,NaN,2.63,0,59.83,45sn,23sn,6dak 9sn,17dak 31sn
227107,227107,293865,34 EZZ 393,30-06-2024 21:57:14,NaN,30 Haziran 2024 Pazar 22:03:09,NaN,3.11,0,66.38,9sn,23sn,5dak 54sn,57dak 49sn
227108,227108,293865,34 EZZ 393,30-06-2024 22:13:16,NaN,30 Haziran 2024 Pazar 22:24:04,NaN,1.16,0,42.97,19sn,11sn,10dak 48sn,10dak 7sn
227109,227109,293865,34 EZZ 393,30-06-2024 22:31:45,NaN,30 Haziran 2024 Pazar 22:38:52,NaN,4.16,0,69.63,23sn,2sn,7dak 7sn,7dak 41sn
227110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1195452,41","7,25",NaN,NaN,NaN,NaN,NaN

In [ ]:
case_report

,Sıra,Şehir,İlçe,İstasyon Adı,Ekip No,Tabletten Mi?,Ambulans Plaka,Araç Tür,Palet Kullanim,MANUEL ŞEF TARİHİ,...,Doktor Onay Durum,Onaylayan Doktor T.C Kimlik No,Tabletten Gönderilme Tarihi\n,Tabletten Gönderilme Saati\n,Doktorun Sorguladığı Tarih\n,Doktorun Sorguladığı Saat,Doktor Onay Tarihi,Doktor Onay Saati\n,Doktor Onayı Sorgulama Tarihi,Doktor Onayı Sorgulama Saati
0,11,İSTANBUL,KÜÇÜKÇEKMECE,İSTANBUL K.ÇEKMECE 11 NOLU ASHİ,KÇK11,Evet,34YC6107,Panelvan,NaN,2024-05-31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,43,İSTANBUL,KAĞITHANE,İSTANBUL KAĞITHANE 5 NOLU ASHİ,KĞT5,Evet,34VZ2215,Panelvan,NaN,2024-05-31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,18,İSTANBUL,FATİH,İSTANBUL FATİH 11 NOLU SARAYBURNU ASHİ,FTH11,Evet,34YB6021,Panelvan,NaN,2024-05-31,...,Doktor Hasta Bilgisi Sorgulamamıştır,NaN,01-06-2024,01:01:53,NaN,NaN,NaN,NaN,NaN,NaN
3,71,İSTANBUL,BAHÇELİEVLER,İSTANBUL BAHÇELİEVLER 6 NOLU ASHİ,BHC6,Evet,34YB2629,Panelvan,NaN,2024-05-31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,24,İSTANBUL,GAZİOSMANPAŞA,İSTANBUL G.O.P. 7 NOLU ASHİ,GOP7,Evet,34YB6407,Panelvan,NaN,2024-05-31,...,Doktor Hasta Bilgisi Sorgulamamıştır,NaN,01-06-2024,01:10:36,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52847,63260,İSTANBUL,SULTANGAZİ,İSTANBUL SULTANGAZİ 6 NOLU ASHİ,STG6,Evet,34YB5022,Panelvan,NaN,2024-06-30,...,Doktor Hasta Bilgisi Sorgulamamıştır,NaN,01-07-2024,00:38:44,NaN,NaN,NaN,NaN,NaN,NaN
52848,63284,İSTANBUL,SARIYER,İSTANBUL SARIYER 4 NOLU TARABYA ASHİ,SRY4,Evet,34DOD400,Panelvan,NaN,2024-06-30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52849,63294,İSTANBUL,ESENLER,İSTANBUL ESENLER 2 NOLU ASHİ,ESN2,Evet,34BH5684,Panelvan,NaN,2024-06-30,...,Doktor Hasta Bilgisi Sorgulamamıştır,NaN,01-07-2024,00:58:56,NaN,NaN,NaN,NaN,NaN,NaN
52850,63259,İSTANBUL,GAZİOSMANPAŞA,İSTANBUL G.O.P. 7 NOLU ASHİ,GOP7,Evet,34DUP325,Panelvan,NaN,2024-06-30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52851,63345,İSTANBUL,BEYLİKDÜZÜ,İSTANBUL BEYLİKDÜZÜ 6 NOLU ASHİ,BDZ6,Evet,34DOV139,Panelvan,NaN,2024-06-30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
case_report['VAKAYA CIKIS TARIH SAAT']= case_report['Vakaya Çıkış Tarihi'] +' '+ case_report['Vakaya Çıkış Saati']

In [ ]:
case_report['Ambulans Plaka']

0        34YC6107
1        34VZ2215
2        34YB6021
3        34YB2629
4        34YB6407
           ...
52847    34YB5022
52848    34DOD400
52849    34BH5684
52850    34DUP325
52851    34DOV139
Name: Ambulans Plaka, Length: 52852, dtype: object

In [ ]:
move_report['Plaka']= move_report['Plaka'].str.upper().str.replace(' ', '')

In [ ]:
move_report[['Plaka', 'Başlangıç Tarihi']]

0          Plaka     Başlangıç Tarihi
1       34YC6941   1-06-2024 17:56:53
2       34YC6941   1-06-2024 18:05:26
3       34YC6941   1-06-2024 18:18:55
4       34YC6941   1-06-2024 18:23:37
5       34YC6941   2-06-2024 01:13:59
...          ...                  ...
227106  34EZZ393  30-06-2024 20:53:16
227107  34EZZ393  30-06-2024 21:57:14
227108  34EZZ393  30-06-2024 22:13:16
227109  34EZZ393  30-06-2024 22:31:45
227110       NaN                  NaN

[227110 rows x 2 columns]

In [ ]:
move_report['Başlangıç Tarihi'].dropna(how='any', inplace=True)

In [ ]:
move_report.rename(columns={'Plaka':'Ambulans Plaka'},inplace= True)

In [ ]:
move_report['Başlangıç Tarihi']= move_report['Başlangıç Tarihi'].fillna(0)

In [ ]:
move_report= move_report[move_report['Başlangıç Tarihi'] != 0]

In [ ]:
case_report['VAKAYA CIKIS TARIH SAAT']

0        01-06-2024 00:05:01
1        01-06-2024 00:01:44
2        01-06-2024 00:03:40
3        01-06-2024 00:04:31
4        01-06-2024 00:05:30
                ...
52847    30-06-2024 23:59:46
52848    01-07-2024 00:01:11
52849    01-07-2024 00:02:19
52850    01-07-2024 00:01:15
52851    30-06-2024 23:59:48
Name: VAKAYA CIKIS TARIH SAAT, Length: 52852, dtype: object

In [ ]:
move_report['Başlangıç Tarihi']= pd.to_datetime(move_report['Başlangıç Tarihi'],format='%d-%m-%Y %H:%M:%S')

C:\Users\mkaya\AppData\Local\Temp\ipykernel_14176\1059735480.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  move_report['Başlangıç Tarihi']= pd.to_datetime(move_report['Başlangıç Tarihi'],format='%d-%m-%Y %H:%M:%S')

In [ ]:
case_report['VAKAYA CIKIS TARIH SAAT']= pd.to_datetime(case_report['VAKAYA CIKIS TARIH SAAT'],format='%d-%m-%Y %H:%M:%S' )
#The format code for year is %Y not %YYYY

In [ ]:
case_report['Ambulans Plaka']

0        34YC6107
1        34VZ2215
2        34YB6021
3        34YB2629
4        34YB6407
           ...
52847    34YB5022
52848    34DOD400
52849    34BH5684
52850    34DUP325
52851    34DOV139
Name: Ambulans Plaka, Length: 52852, dtype: object

In [ ]:
move_report= move_report[['Ambulans Plaka', 'Başlangıç Tarihi']]

In [ ]:
move_report

0      Ambulans Plaka    Başlangıç Tarihi
1            34YC6941 2024-06-01 17:56:53
2            34YC6941 2024-06-01 18:05:26
3            34YC6941 2024-06-01 18:18:55
4            34YC6941 2024-06-01 18:23:37
5            34YC6941 2024-06-02 01:13:59
...               ...                 ...
227105       34EZZ393 2024-06-30 20:34:33
227106       34EZZ393 2024-06-30 20:53:16
227107       34EZZ393 2024-06-30 21:57:14
227108       34EZZ393 2024-06-30 22:13:16
227109       34EZZ393 2024-06-30 22:31:45

[227109 rows x 2 columns]

In [ ]:
case_reduced = case_report[['Ekip No', 'Ambulans Plaka', 'VAKAYA CIKIS TARIH SAAT']]

In [ ]:
move_report[move_report['Ambulans Plaka'] == '34HUL734']

In [ ]:
for i in range(len(case_reduced)):
  temp_df= move_report[move_report['Ambulans Plaka']== case_reduced.iloc[i]['Ambulans Plaka']]
  temp_df= temp_df[temp_df['Başlangıç Tarihi'] > case_reduced.iloc[i]['VAKAYA CIKIS TARIH SAAT']]
  if len(temp_df) > 0:
    case_reduced.loc[i, 'GPS Bazlı Çıkış Tarihi']= temp_df['Başlangıç Tarihi'].min()

C:\Users\mkaya\anaconda3\lib\site-packages\pandas\core\indexing.py:1684: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
C:\Users\mkaya\anaconda3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [ ]:
case_reduced['GPS Bazlı Çıkış Tarihi'].isna().sum()

9025

In [ ]:
case_reduced['Fark']= case_reduced['GPS Bazlı Çıkış Tarihi'] - case_reduced['VAKAYA CIKIS TARIH SAAT']

C:\Users\mkaya\AppData\Local\Temp\ipykernel_14176\2394702946.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  case_reduced['Fark']= case_reduced['GPS Bazlı Çıkış Tarihi'] - case_reduced['VAKAYA CIKIS TARIH SAAT']

In [ ]:
case_reduced['Fark'].dropna(how='all', inplace=True)

C:\Users\mkaya\anaconda3\lib\site-packages\pandas\core\series.py:5258: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(result)

In [ ]:
case_reduced['Fark']= case_reduced['Fark'].dt.total_seconds()

C:\Users\mkaya\AppData\Local\Temp\ipykernel_14176\2434746642.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  case_reduced['Fark']= case_reduced['Fark'].dt.total_seconds()

In [ ]:
case_reduced['Dakika'] =round( case_reduced['Fark'] / 60, 2)

C:\Users\mkaya\AppData\Local\Temp\ipykernel_14176\240295048.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  case_reduced['Dakika'] =round( case_reduced['Fark'] / 60, 2)

In [ ]:
case_reduced.sort_values(by='Fark', ascending=False).to_excel('C:/Users/mkaya/Onedrive/Masaüstü/hazirangps.xlsx')