In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import duckdb

import datetime as dt
import os
from concurrent.futures import ThreadPoolExecutor

In [ ]:
con = duckdb.connect()
con.execute("INSTALL excel")
con.execute("LOAD excel")

**PARQUET FILE CREATION STARTED SKIP THIS AREA**

In [ ]:
path_2020= r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\2020\total\\"

In [ ]:
path_2021= r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\2021\total\\"

In [ ]:
path_2017= r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\2020\total\\"
path_2018= r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\2018\total\\"
path_2019= r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\2019\total\\"
path_2022= r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\2022\total\\"
path_2023= r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\2023\total\\"
path_2024= r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\2024\total\\"
path_2025= r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\2025\monthly\\"

In [ ]:
paths= [path_2017, path_2018, path_2019, path_2020, path_2021, path_2022, path_2023, path_2024, path_2025]

In [ ]:
path_2018

In [ ]:

for file in os.listdir(path_2022):
    if file.endswith('.csv'):
        file_path = os.path.join(path_2022, file)
        print(f"Processing {file_path}")
        # Read the Excel file and convert to Parquet
        con.execute(f"""
            COPY (
                SELECT * FROM read_csv('{file_path}', strict_mode=false,max_line_size=10000000,all_varchar=true)
            ) TO '{file_path}.parquet' (FORMAT 'parquet')
        """)

In [ ]:
con = duckdb.connect()
con.execute("INSTALL excel")
con.execute("LOAD excel")

for file in os.listdir(path_2024):
    if file.endswith('.csv'):
        file_path = os.path.join(path_2024, file)
        print(f"Processing {file_path}")
        # Read the Excel file and convert to Parquet
        con.execute(f"""
            COPY (
                SELECT * FROM read_csv('{file_path}', strict_mode=false,max_line_size=10000000,all_varchar=true)
            ) TO '{file_path}.parquet' (FORMAT 'parquet')
        """)

In [ ]:
os.listdir(path_2020)

In [ ]:
files = []
for data in os.listdir(path_2017):
  if data.endswith(".xlsx"):
    files.append(os.path.join(path_2017, data))
for data in os.listdir(path_2018):
  if data.endswith(".xlsx"):
    files.append(os.path.join(path_2018, data))
for data in os.listdir(path_2019):
  if data.endswith(".xlsx"):
    files.append(os.path.join(path_2019, data))
for data in os.listdir(path_2020):
  if data.endswith(".xlsx"):
    files.append(os.path.join(path_2020, data))
for data in os.listdir(path_2021):
  if data.endswith(".xlsx"):
    files.append(os.path.join(path_2021, data))
for data in os.listdir(path_2022):
  if data.endswith(".xlsx"):
    files.append(os.path.join(path_2022, data))
for data in os.listdir(path_2023):
  if data.endswith(".xlsx"):
    files.append(os.path.join(path_2023, data))
for data in os.listdir(path_2024):
  if data.endswith(".xlsx"):
    files.append(os.path.join(path_2024, data))
for data in os.listdir(path_2025):
  if data.endswith(".xlsx"):
    files.append(os.path.join(path_2025, data))

import duckdb
import pandas as pd
con = duckdb.connect()
con.execute("INSTALL excel")
con.execute("LOAD excel")
dfs= []
for file_path in files:

  # Step 1: Get all sheet names
  sheet_names = pd.ExcelFile(file_path).sheet_names

  # Step 2: Check number of rows in each sheet
  xls = pd.ExcelFile(file_path)
  max_rows = 0
  largest_sheet = None

  for sheet in sheet_names:
      temp_df = xls.parse(sheet, nrows=1000)  # read only first 1000 rows for speed
      row_count = temp_df.shape[0]
      if row_count > max_rows:
          max_rows = row_count
          largest_sheet = sheet

  # Step 3: Read the largest sheet
  con.execute(f"""
      COPY (SELECT * FROM read_xlsx('{file_path}', sheet='{largest_sheet}', all_varchar=true)
      ) TO '{file_path}.parquet' (FORMAT 'parquet')""")
  print(f"{file_path}.parquet created successfully")

In [ ]:
files = []

for data in os.listdir(path_2022):
  if data.endswith(".csv"):
    files.append(os.path.join(path_2022, data))

for data in os.listdir(path_2024):
  if data.endswith(".csv"):
    files.append(os.path.join(path_2024, data))


con = duckdb.connect()
con.execute("INSTALL excel")
con.execute("LOAD excel")
dfs= []
for file_path in files:

  # Step 1: Get all sheet names
  sheet_names = pd.ExcelFile(file_path).sheet_names

  # Step 2: Check number of rows in each sheet
  xls = pd.ExcelFile(file_path)
  max_rows = 0
  largest_sheet = None

  for sheet in sheet_names:
      temp_df = xls.parse(sheet, nrows=1000)  # read only first 1000 rows for speed
      row_count = temp_df.shape[0]
      if row_count > max_rows:
          max_rows = row_count
          largest_sheet = sheet

  # Step 3: Read the largest sheet
  con.execute(f"""
      COPY (SELECT * FROM read_csv('{file_path}', sheet='{largest_sheet}', all_varchar=true)
      ) TO '{file_path}.parquet' (FORMAT 'parquet')""")
  print(f"{file_path}.parquet created successfully")

In [ ]:
#temp_df= pd.read_parquet(r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\2022\total\2022  AVRUPA OCAK-ARALIK DEFTER BİRLEŞMİŞ.xlsx.parquet")

In [ ]:
# Function to handle both numeric and string date formats
def parse_date(x):
    if isinstance(x, (int, float)):
        # Assume it's an Excel date serial number
        try:
            # Using origin='1899-12-30' for Excel date serial numbers
            return pd.to_datetime(x, unit='d', origin='12-30-1899')
        except Exception as e:
            print(f"Error parsing numeric date {x}: {e}")
            return pd.NaT
    elif isinstance(x, str):
        # Try parsing as a string date with mixed format
        try:
            return pd.to_datetime(x, format='mixed', errors='coerce')
        except Exception as e:
            print(f"Error parsing string date {x}: {e}")
            return pd.NaT
    else:
        # Handle other data types like pd.NaT
        return pd.NaT

# Apply the custom parsing function
#temp_df["İhbar/Çağrı Tarihi"] = temp_df["İhbar/Çağrı Tarihi"].apply(parse_date)

In [ ]:
temp_df= dataframes_2018_2019['2018 YILI AVRUPA']['İhbar/Çağrı Tarih Saat']

In [ ]:
import duckdb
import pandas as pd
con = duckdb.connect()
con.execute("INSTALL excel")
con.execute("LOAD excel")

In [ ]:
con.execute("""
    COPY (SELECT * FROM read_csv('C:\\Users\\mkaya\\OneDrive\\Masaüstü\\istanbul112_hidden\\data\\case_reports\\europe\\2018\\total\\\\2018 YILI AVRUPA.csv', all_varchar=true)
    ) TO 'C:\\Users\\mkaya\\OneDrive\\Masaüstü\\istanbul112_hidden\\data\\case_reports\\europe\\2018\\total\\\\2018 YILI AVRUPA.parquet' (FORMAT 'parquet')""")
print("C:\\Users\\mkaya\\OneDrive\\Masaüstü\\istanbul112_hidden\\data\\case_reports\\europe\\2018\\total\\\\2018 YILI AVRUPA.parquet created successfully")

In [ ]:
con.execute("""
    COPY (SELECT * FROM read_csv('C:\\Users\\mkaya\\OneDrive\\Masaüstü\\istanbul112_hidden\\data\\case_reports\\europe\\2023\\total\\2023 AVR BİRLEŞTİRİLMİŞ MAHALLE DEFTERİ.csv', all_varchar=true, strict_mode=false, max_line_size=100000000)
    ) TO 'C:\\Users\\mkaya\\OneDrive\\Masaüstü\\istanbul112_hidden\\data\\case_reports\\europe\\2023\\total\\2023 AVR BİRLEŞTİRİLMİŞ MAHALLE DEFTERİ.csv.parquet' (FORMAT 'parquet')""")
print("C:\\Users\\mkaya\\OneDrive\\Masaüstü\\istanbul112_hidden\\data\\case_reports\\europe\\2023\\total\\2023 AVR BİRLEŞTİRİLMİŞ MAHALLE DEFTERİ.csv.parquet created successfully")

In [ ]:
save_path= r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\parquet_files\2020_2021\\"

In [ ]:
files

In [ ]:
files_2 = []
for data in os.listdir(path_2020):
  if data.endswith(".xlsx"):
    files_2.append(data.replace(".xlsx", ".parquet"))
for data in os.listdir(path_2021):
  if data.endswith(".xlsx"):
    files_2.append( data.replace(".xlsx", ".parquet"))

In [ ]:
files_2

In [ ]:
count= 0
for df in dfs:
  df = df.astype({col: str for col in df.columns})
  df.to_parquet(save_path + files_2[count] )
  count += 1

In [ ]:
df_2022_jan= pd.read_parquet(r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\parquet_files\2022_2023\OCAK 2022 AVR DEFTERİ - MAHALLE BAZLI ÇALIŞMA SON.parquet")

In [ ]:
df_2023_jan= pd.read_parquet(r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\parquet_files\2022_2023\1-OCAK 2023 7 KALEM MAHALLE DEFTER AVRUPA.parquet")

In [ ]:
df_2024_jan= pd.read_parquet(r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\parquet_files\2024_2025\1-OCAK 2024 AVR ASOS TANIDÖNÜŞTÜRÜLMÜŞ DEFTER.parquet")

In [ ]:
df_2025_jan= pd.read_parquet(r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\parquet_files\2024_2025\1-OCAK 2025 AVR ASOS TANI DÖNÜŞTÜRÜLMÜŞ DEFTER.parquet")

In [ ]:
[col for col in df_2025_jan.columns if col not in df_2022_jan.columns]

In [ ]:
df_2022_jan['Olay Yeri Varış']

**PARQUET FILE CREATION ENDED YOU CAN CONTINUE FROM HERE**

In [ ]:
import pandas as pd
import numpy as np
import datetime as dt
import os
import geopandas as gpd
import matplotlib.pyplot as plt
import seaborn as sns
from concurrent.futures import ThreadPoolExecutor

In [ ]:
dataframes_2017= {}
dataframes_2018_2019= {}
dataframes_2020_2021= {}
dataframes_2022_2023= {}
dataframes_2024_2025= {}

In [ ]:
case_files_2017= os.listdir(r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\parquet_files\2017\\")
case_files_2018_2019= os.listdir(r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\parquet_files\2018_2019\\")
case_files_2020_2021= os.listdir(r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\parquet_files\2020_2021\\")
case_files_2022_2023= os.listdir(r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\parquet_files\2022_2023\\")
case_files_2024_2025= os.listdir(r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\parquet_files\2024_2025\\")

In [ ]:
case_files_2017= [file for file in case_files_2017 if file.endswith(".parquet")]
case_files_2018_2019= [file for file in case_files_2018_2019 if file.endswith(".parquet")]
case_files_2020_2021= [file for file in case_files_2020_2021 if file.endswith(".parquet")]
case_files_2022_2023= [file for file in case_files_2022_2023 if file.endswith(".parquet")]
case_files_2024_2025= [file for file in case_files_2024_2025 if file.endswith(".parquet")]

In [ ]:
case_files_2022_2023

In [ ]:
for file in case_files_2017:
  dataframes_2017[file.replace(".parquet", "")]= pd.read_parquet(r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\parquet_files\2017\\" + file)
  print(file, ' has been read')
for file in case_files_2018_2019:
  dataframes_2018_2019[file.replace(".parquet", "")]= pd.read_parquet(r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\parquet_files\2018_2019\\" + file)
  print(file, ' has been read')
for file in case_files_2020_2021:
  dataframes_2020_2021[file.replace(".parquet", "")]= pd.read_parquet(r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\parquet_files\2020_2021\\" + file)
  print(file, ' has been read')
for file in case_files_2022_2023:
  dataframes_2022_2023[file.replace(".parquet", "")]= pd.read_parquet(r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\parquet_files\2022_2023\\" + file)
  print(file, ' has been read')
for file in case_files_2024_2025:
  dataframes_2024_2025[file.replace(".parquet", "")]= pd.read_parquet(r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\parquet_files\2024_2025\\" + file)
  print(file, ' has been read')

In [ ]:
for file in case_files_2018_2019:
  dataframes_2018_2019[file.replace(".parquet", "")]= pd.read_parquet(r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\parquet_files\2018_2019\\" + file)
  print(file, ' has been read')

In [ ]:
dataframes_2022_2023["2022  AVRUPA OCAK-ARALIK DEFTER BİRLEŞMİŞ"]["İhbar/Çağrı Tarihi"].value_counts()

In [ ]:
dataframes_2018_2019['2018 YILI AVRUPA']['İhbar Tarihi'].value_counts().head(60)

In [ ]:
dataframes_2018_2019["2019 YILI ASOS AVR"].columns

In [ ]:
sorted(list(dataframes_2022_2023.keys()))

In [ ]:
for key in dataframes_2020_2021.keys():
  print(key, ' : ',dataframes_2020_2021[key].shape)

In [ ]:
[col for col in dataframes_2020_2021["2020 YILI TEMMUZ-ARALIK ASOS DEFTERİ"].columns if col not in dataframes_2020_2021["2020 YILI OCAK-HAZİRAN AYLARI DEFTER"].columns]

In [ ]:
dataframes_2020_2021["2020 YILI OCAK-HAZİRAN AYLARI DEFTER"].rename(columns={"ICD10 TANI \nADI":"ICD10 TANI\nADI"}, inplace=True)

In [ ]:
dataframes_2020_2021["2020 YILI OCAK-HAZİRAN AYLARI DEFTER"]

In [ ]:
dataframes_2018_2019["2019 YILI ASOS AVR"]

In [ ]:
for key in dataframes_2017.keys():
  for col in dataframes_2017[key].columns:
    if col=="ICD10 TANI \nADI":
      dataframes_2017[key].rename(columns={'ICD10 TANI \nADI':'ICD10 TANI\nADI'}, inplace=True)
    if col=='Vaka Veriliş':
      dataframes_2017[key].rename(columns={'Vaka Veriliş':'Vaka Veriliş Tarih Saat'}, inplace=True)
    if col == 'Ulaşım Sn':
      dataframes_2017[key].rename(columns={'Ulaşım Sn':'Ulaşım Sn\n(Olay Yeri Varış Tarihi - Çağrı Tarihi)'}, inplace=True)
    if col == 'İhbar Tarihi':
      dataframes_2017[key].rename(columns={'İhbar Tarihi':'İhbar/Çağrı Tarih Saat'}, inplace=True)
    if col == 'Olay Yeri Varış':
      dataframes_2017[key].rename(columns={'Olay Yeri Varış':'Olay Yeri Varış Tarih Saat'}, inplace=True)
    if col == 'Olay Yeri Ayrılış':
      dataframes_2017[key].rename(columns={'Olay Yeri Ayrılış':'Olay Yeri Ayrılış Tarih Saat'}, inplace=True)
    if col == 'Hastaneye Varış':
      dataframes_2017[key].rename(columns={'Hastaneye Varış':'Hastaneye Varış Tarih Saat'}, inplace=True)
    if col == 'Hastaneden Ayrılış':
      dataframes_2017[key].rename(columns={'Hastaneden Ayrılış':'Hastaneden Ayrılış Tarih Saat'}, inplace=True)
    if col == 'İstasyona Dönüş':
      dataframes_2017[key].rename(columns={'İstasyona Dönüş':'İstasyona Dönüş Tarih Saat'}, inplace=True)
for key in dataframes_2018_2019.keys():
  for col in dataframes_2018_2019[key].columns:
    if col=="ICD10 TANI \nADI":
      dataframes_2018_2019[key].rename(columns={'ICD10 TANI \nADI':'ICD10 TANI\nADI'}, inplace=True)
    if col=="ICD10 TANI \nADI":
      dataframes_2018_2019[key].rename(columns={'ICD10 TANI \nADI':'ICD10 TANI\nADI'}, inplace=True)
    if col=='Vaka Veriliş':
      dataframes_2018_2019[key].rename(columns={'Vaka Veriliş':'Vaka Veriliş Tarih Saat'}, inplace=True)
    if col == 'Ulaşım Sn':
      dataframes_2018_2019[key].rename(columns={'Ulaşım Sn':'Ulaşım Sn\n(Olay Yeri Varış Tarihi - Çağrı Tarihi)'}, inplace=True)
    if col == 'İhbar Tarihi':
      dataframes_2018_2019[key].rename(columns={'İhbar Tarihi':'İhbar/Çağrı Tarih Saat'}, inplace=True)
    if col == 'Olay Yeri Varış':
      dataframes_2018_2019[key].rename(columns={'Olay Yeri Varış':'Olay Yeri Varış Tarih Saat'}, inplace=True)
    if col == 'Olay Yeri Ayrılış':
      dataframes_2018_2019[key].rename(columns={'Olay Yeri Ayrılış':'Olay Yeri Ayrılış Tarih Saat'}, inplace=True)
    if col == 'Hastaneye Varış':
      dataframes_2018_2019[key].rename(columns={'Hastaneye Varış':'Hastaneye Varış Tarih Saat'}, inplace=True)
    if col == 'Hastaneden Ayrılış':
      dataframes_2018_2019[key].rename(columns={'Hastaneden Ayrılış':'Hastaneden Ayrılış Tarih Saat'}, inplace=True)
    if col == 'İstasyona Dönüş':
      dataframes_2018_2019[key].rename(columns={'İstasyona Dönüş':'İstasyona Dönüş Tarih Saat'}, inplace=True)
for key in dataframes_2020_2021.keys():
  for col in dataframes_2020_2021[key].columns:
    if col=="ICD10 TANI \nADI":
      dataframes_2020_2021[key].rename(columns={'ICD10 TANI \nADI':'ICD10 TANI\nADI'}, inplace=True)
    if col=='Vaka Veriliş':
      dataframes_2020_2021[key].rename(columns={'Vaka Veriliş':'Vaka Veriliş Tarih Saat'}, inplace=True)
    if col == 'Ulaşım Sn':
      dataframes_2020_2021[key].rename(columns={'Ulaşım Sn':'Ulaşım Sn\n(Olay Yeri Varış Tarihi - Çağrı Tarihi)'}, inplace=True)
    if col == 'İhbar Tarihi':
      dataframes_2020_2021[key].rename(columns={'İhbar Tarihi':'İhbar/Çağrı Tarih Saat'}, inplace=True)
    if col == 'Olay Yeri Varış':
      dataframes_2020_2021[key].rename(columns={'Olay Yeri Varış':'Olay Yeri Varış Tarih Saat'}, inplace=True)
    if col == 'Olay Yeri Ayrılış':
      dataframes_2020_2021[key].rename(columns={'Olay Yeri Ayrılış':'Olay Yeri Ayrılış Tarih Saat'}, inplace=True)
    if col == 'Hastaneye Varış':
      dataframes_2020_2021[key].rename(columns={'Hastaneye Varış':'Hastaneye Varış Tarih Saat'}, inplace=True)
    if col == 'Hastaneden Ayrılış':
      dataframes_2020_2021[key].rename(columns={'Hastaneden Ayrılış':'Hastaneden Ayrılış Tarih Saat'}, inplace=True)
    if col == 'İstasyona Dönüş':
      dataframes_2020_2021[key].rename(columns={'İstasyona Dönüş':'İstasyona Dönüş Tarih Saat'}, inplace=True)
for key in dataframes_2022_2023.keys():
  for col in dataframes_2022_2023[key].columns:
    if col=="ICD10 TANI \nADI":
      dataframes_2022_2023[key].rename(columns={'ICD10 TANI \nADI':'ICD10 TANI\nADI'}, inplace=True)
    if col=='Vaka Veriliş':
      dataframes_2022_2023[key].rename(columns={'Vaka Veriliş':'Vaka Veriliş Tarih Saat'}, inplace=True)
    if col == 'Ulaşım Sn':
      dataframes_2022_2023[key].rename(columns={'Ulaşım Sn':'Ulaşım Sn\n(Olay Yeri Varış Tarihi - Çağrı Tarihi)'}, inplace=True)
    if col == 'İhbar Tarihi':
      dataframes_2022_2023[key].rename(columns={'İhbar Tarihi':'İhbar/Çağrı Tarih Saat'}, inplace=True)
    if col == 'Olay Yeri Varış':
      dataframes_2022_2023[key].rename(columns={'Olay Yeri Varış':'Olay Yeri Varış Tarih Saat'}, inplace=True)
    if col == 'Olay Yeri Ayrılış':
      dataframes_2022_2023[key].rename(columns={'Olay Yeri Ayrılış':'Olay Yeri Ayrılış Tarih Saat'}, inplace=True)
    if col == 'Hastaneye Varış':
      dataframes_2022_2023[key].rename(columns={'Hastaneye Varış':'Hastaneye Varış Tarih Saat'}, inplace=True)
    if col == 'Hastaneden Ayrılış':
      dataframes_2022_2023[key].rename(columns={'Hastaneden Ayrılış':'Hastaneden Ayrılış Tarih Saat'}, inplace=True)
    if col=='İstasyona Dönüş':
      dataframes_2022_2023[key].rename(columns={'İstasyona Dönüş':'İstasyona Dönüş Tarih Saat'}, inplace=True)
for key in dataframes_2024_2025.keys():
  for col in dataframes_2024_2025[key].columns:
    if col=="ICD10 TANI \nADI":
      dataframes_2024_2025[key].rename(columns={'ICD10 TANI \nADI':'ICD10 TANI\nADI'}, inplace=True)
    if col=='Vaka Veriliş':
      dataframes_2024_2025[key].rename(columns={'Vaka Veriliş':'Vaka Veriliş Tarih Saat'}, inplace=True)
    if col == 'Ulaşım Sn':
      dataframes_2024_2025[key].rename(columns={'Ulaşım Sn':'Ulaşım Sn\n(Olay Yeri Varış Tarihi - Çağrı Tarihi)'}, inplace=True)
    if col == 'İhbar Tarihi':
      dataframes_2024_2025[key].rename(columns={'İhbar Tarihi':'İhbar/Çağrı Tarih Saat'}, inplace=True)
    if col == 'Olay Yeri Varış':
      dataframes_2024_2025[key].rename(columns={'Olay Yeri Varış':'Olay Yeri Varış Tarih Saat'}, inplace=True)
    if col == 'Olay Yeri Ayrılış':
      dataframes_2024_2025[key].rename(columns={'Olay Yeri Ayrılış':'Olay Yeri Ayrılış Tarih Saat'}, inplace=True)
    if col == 'Hastaneye Varış':
      dataframes_2024_2025[key].rename(columns={'Hastaneye Varış':'Hastaneye Varış Tarih Saat'}, inplace=True)
    if col == 'Hastaneden Ayrılış':
      dataframes_2024_2025[key].rename(columns={'Hastaneden Ayrılış':'Hastaneden Ayrılış Tarih Saat'}, inplace=True)
    if col=='İstasyona Dönüş':
      dataframes_2024_2025[key].rename(columns={'İstasyona Dönüş':'İstasyona Dönüş Tarih Saat'}, inplace=True)

In [ ]:
dataframes_2020_2021["2020 YILI OCAK-HAZİRAN AYLARI DEFTER"]["Olay Yeri Ayrılış Tarih Saat"].isna().sum()

In [ ]:
for key in dataframes_2022_2023.keys():
  print(key, ' : ',dataframes_2022_2023[key].shape)

In [ ]:
[col for col in dataframes_2022_2023["2022  AVRUPA OCAK-ARALIK DEFTER BİRLEŞMİŞ"].columns if col not in dataframes_2022_2023['2023 AVR BİRLEŞTİRİLMİŞ MAHALLE DEFTERİ'].columns]

**SAVE PARQUET FILES**

In [ ]:
save_path_0= r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\parquet_files\2017\\"
save_path_001= r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\parquet_files\2018_2019\\"
save_path_1= r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\parquet_files\2020_2021\\"
save_path_2= r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\parquet_files\2022_2023\\"
save_path_3= r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\parquet_files\2024_2025\\"

In [ ]:
for key in dataframes_2017.keys():
  print(f"saving {key}")
  dataframes_2017[key].to_parquet(save_path_0 + key + ".parquet")
for key in dataframes_2018_2019.keys():
  print(f"saving {key}")
  dataframes_2018_2019[key].to_parquet(save_path_001 + key + ".parquet")
for key in dataframes_2020_2021.keys():
  print(f"saving {key}")
  dataframes_2020_2021[key].to_parquet(save_path_1 + key + ".parquet")
for key in dataframes_2022_2023.keys():
  dataframes_2022_2023[key].to_parquet(save_path_2 + key + ".parquet")
  print(f"saving {key}")
for key in dataframes_2024_2025.keys():
  print(f"saving {key}")
  dataframes_2024_2025[key].to_parquet(save_path_3 + key + ".parquet")

**CONTINUE CODING**

In [ ]:
#ataframes_2024_2025['4-NİSAN 2025 AVR ASOS TANI DÖNÜŞTÜRÜLMÜŞ DEFTER'].head(1000).to_excel('test.xlsx')

In [ ]:
print([col for col in dataframes_2024_2025['1-OCAK 2025 AVR ASOS TANI DÖNÜŞTÜRÜLMÜŞ DEFTER'].columns])

In [ ]:
necessary_columns= ['KKM Protokol','Ekip No', 'İhbar/Çağrı Tarih Saat', 'Cinsiyet', 'Yeni Doğan', 'Yaş', 'Adli Vaka', 'Çağrı Nedeni', 'Sonuç', 'Nakledilen Hastane', 'ICD10 TANI\nADI', 'Triaj', 'Bilinç', 'Nabız', 'Vaka Veriliş Tarih Saat', 'Olay Yeri Varış Tarih Saat', 'Olay Yeri Ayrılış Tarih Saat', 'Hastaneye Varış Tarih Saat', 'Hastaneden Ayrılış Tarih Saat', 'Müdahale Süresi Sn', 'Hastane Teslim Süresi Sn', 'Çıkış KM', 'Varış KM', 'Hastaneye Varış KM', 'Dönüş KM', 'Vakanın Enlemi', 'Vakanın Boylamı', 'Tansiyon', 'Glukoz', 'Ateş', 'SPO2', 'Solunum Değeri', 'Nabız Değeri']

In [ ]:
dataframes_2020_2021['2020 YILI OCAK-HAZİRAN AYLARI DEFTER']

In [ ]:
necessary_columns

In [ ]:
columns_to_process= ['İhbar/Çağrı Tarih Saat','Vaka Veriliş Tarih Saat', 'Olay Yeri Varış Tarih Saat','Olay Yeri Ayrılış Tarih Saat','Hastaneye Varış Tarih Saat','Hastaneden Ayrılış Tarih Saat']

In [ ]:
all_datas= [dataframes_2018_2019,dataframes_2020_2021, dataframes_2022_2023, dataframes_2024_2025]

In [ ]:
dataframes_2018_2019.keys()

In [ ]:
"""for dataframe in all_datas:
  for key in dataframe.keys():
    print(f"Processing {key}")

    # Rename column if necessary
    if "Hastaneye Varış Saati\n" in dataframe[key].columns:
      dataframe[key].rename(columns={"Hastaneye Varış Saati\n": "Hastaneye Varış Saati"}, inplace=True)

    # Process 'İhbar/Çağrı Tarih Saat' or create it if needed
    if "İhbar/Çağrı Tarih Saat" not in dataframe[key].columns:
      print(f"Creating İhbar/Çağrı Tarih Saat for {key}")
      # First, apply the parse_date function to the original date column
      if 'İhbar/Çağrı Tarihi' in dataframe[key].columns and 'İhbar/Çağrı  Saati' in dataframe[key].columns:
        dataframe[key]["İhbar/Çağrı Tarihi"] = dataframe[key]["İhbar/Çağrı Tarihi"].apply(parse_date)
        # Convert time column to string, handling potential non-string types
        dataframe[key]['İhbar/Çağrı  Saati'] = dataframe[key]['İhbar/Çağrı  Saati'].astype(str)
        # Combine date and time columns, coercing errors
        dataframe[key]["İhbar/Çağrı Tarih Saat"] = pd.to_datetime(
            dataframe[key]['İhbar/Çağrı Tarihi'].dt.strftime('%Y-%m-%d') + ' ' + dataframe[key]['İhbar/Çağrı  Saati'],
            format='%Y-%m-%d %H:%M:%S', errors='coerce'
        )
      else:
          print(f"Warning: 'İhbar/Çağrı Tarihi' or 'İhbar/Çağrı  Saati' not found in {key}. Cannot create 'İhbar/Çağrı Tarih Saat'.")
    else:
        # If 'İhbar/Çağrı Tarih Saat' already exists, ensure it's in datetime format
        print(f"Converting İhbar/Çağrı Tarih Saat to datetime for {key}")
        dataframe[key]['İhbar/Çağrı Tarih Saat'] = pd.to_datetime(dataframe[key]['İhbar/Çağrı Tarih Saat'], errors='coerce')


    # Process 'Vaka Veriliş Tarih Saat'
    if "Vaka Veriliş Tarih Saat" not in dataframe[key].columns:
      print(f"Creating Vaka Veriliş Tarih Saat for {key}")
      if 'Vaka Veriliş\nTarihi' in dataframe[key].columns and 'Vaka Veriliş\nSaati' in dataframe[key].columns:
        dataframe[key]['Vaka Veriliş\nTarihi'] = dataframe[key]['Vaka Veriliş\nTarihi'].apply(parse_date)
        dataframe[key]['Vaka Veriliş\nSaati'] = dataframe[key]['Vaka Veriliş\nSaati'].astype(str)
        dataframe[key]["Vaka Veriliş Tarih Saat"] = pd.to_datetime(
            dataframe[key]['Vaka Veriliş\nTarihi'].dt.strftime('%Y-%m-%d') + ' ' + dataframe[key]['Vaka Veriliş\nSaati'],
            format='%Y-%m-%d %H:%M:%S', errors='coerce'
        )
      else:
           print(f"Warning: 'Vaka Veriliş\\nTarihi' or 'Vaka Veriliş\\nSaati' not found in {key}. Cannot create 'Vaka Veriliş Tarih Saat'.")
    else:
        print(f"Converting Vaka Veriliş Tarih Saat to datetime for {key}")
        dataframe[key]['Vaka Veriliş Tarih Saat'] = pd.to_datetime(dataframe[key]['Vaka Veriliş Tarih Saat'], errors='coerce')


    # Process 'Olay Yeri Varış Tarih Saat'
    if "Olay Yeri Varış Tarih Saat" not in dataframe[key].columns:
      print(f"Creating Olay Yeri Varış Tarih Saat for {key}")
      if 'Olay Yeri Varış Tarihi' in dataframe[key].columns and 'Olay Yeri Varış Saati' in dataframe[key].columns:
        dataframe[key]['Olay Yeri Varış Tarihi'] = dataframe[key]['Olay Yeri Varış Tarihi'].apply(parse_date)
        dataframe[key]['Olay Yeri Varış Saati'] = dataframe[key]['Olay Yeri Varış Saati'].astype(str)
        dataframe[key]["Olay Yeri Varış Tarih Saat"] = pd.to_datetime(
            dataframe[key]['Olay Yeri Varış Tarihi'].dt.strftime('%Y-%m-%d') + ' ' + dataframe[key]['Olay Yeri Varış Saati'],
            format='%Y-%m-%d %H:%M:%S', errors='coerce'
        )
      else:
          print(f"Warning: 'Olay Yeri Varış Tarihi' or 'Olay Yeri Varış Saati' not found in {key}. Cannot create 'Olay Yeri Varış Tarih Saat'.")
    else:
        print(f"Converting Olay Yeri Varış Tarih Saat to datetime for {key}")
        dataframe[key]['Olay Yeri Varış Tarih Saat'] = pd.to_datetime(dataframe[key]['Olay Yeri Varış Tarih Saat'], errors='coerce')

    # Process 'Olay Yeri Ayrılış Tarih Saat'
    if 'Olay Yeri Ayrılış Tarih Saat' not in dataframe[key].columns:
      print(f"Creating Olay Yeri Ayrılış Tarih Saat for {key}")
      if 'Olay Yeri Ayrılış Tarihi' in dataframe[key].columns and 'Olay Yeri Ayrılış Saati' in dataframe[key].columns:
        dataframe[key]['Olay Yeri Ayrılış Tarihi'] = dataframe[key]['Olay Yeri Ayrılış Tarihi'].apply(parse_date)
        dataframe[key]['Olay Yeri Ayrılış Saati'] = dataframe[key]['Olay Yeri Ayrılış Saati'].astype(str)
        dataframe[key]["Olay Yeri Ayrılış Tarih Saat"] = pd.to_datetime(
            dataframe[key]['Olay Yeri Ayrılış Tarihi'].dt.strftime('%Y-%m-%d') + ' ' + dataframe[key]['Olay Yeri Ayrılış Saati'],
            format='%Y-%m-%d %H:%M:%S', errors='coerce'
        )
      else:
          print(f"Warning: 'Olay Yeri Ayrılış Tarihi' or 'Olay Yeri Ayrılış Saati' not found in {key}. Cannot create 'Olay Yeri Ayrılış Tarih Saat'.")
    else:
        print(f"Converting Olay Yeri Ayrılış Tarih Saat to datetime for {key}")
        dataframe[key]['Olay Yeri Ayrılış Tarih Saat'] = pd.to_datetime(dataframe[key]['Olay Yeri Ayrılış Tarih Saat'], errors='coerce')

    # Process 'Hastaneye Varış Tarih Saat'
    # Note the inconsistent column name 'Hastaneye varış Tarih Saat' found in the traceback
    if 'Hastaneye Varış Tarih Saat' not in dataframe[key].columns and 'Hastaneye varış Tarih Saat' in dataframe[key].columns:
         dataframe[key].rename(columns={'Hastaneye varış Tarih Saat':'Hastaneye Varış Tarih Saat'}, inplace=True)

    if 'Hastaneye Varış Tarih Saat' not in dataframe[key].columns:
      print(f"Creating Hastaneye Varış Tarih Saat for {key}")
      if 'Hastaneye Varış Tarihi' in dataframe[key].columns and 'Hastaneye Varış Saati' in dataframe[key].columns:
        dataframe[key]['Hastaneye Varış Tarihi'] = dataframe[key]['Hastaneye Varış Tarihi'].apply(parse_date)
        dataframe[key]['Hastaneye Varış Saati'] = dataframe[key]['Hastaneye Varış Saati'].astype(str)
        dataframe[key]["Hastaneye Varış Tarih Saat"] = pd.to_datetime(
            dataframe[key]['Hastaneye Varış Tarihi'].dt.strftime('%Y-%m-%d') + ' ' + dataframe[key]['Hastaneye Varış Saati'],
            format='%Y-%m-%d %H:%M:%S', errors='coerce'
        )
      else:
          print(f"Warning: 'Hastaneye Varış Tarihi' or 'Hastaneye Varış Saati' not found in {key}. Cannot create 'Hastaneye Varış Tarih Saat'.")
    else:
        print(f"Converting Hastaneye Varış Tarih Saat to datetime for {key}")
        dataframe[key]['Hastaneye Varış Tarih Saat'] = pd.to_datetime(dataframe[key]['Hastaneye Varış Tarih Saat'], errors='coerce')

    # Process 'Hastaneden Ayrılış Tarih Saat'
    if 'Hastaneden Ayrılış Tarih Saat' not in dataframe[key].columns:
      print(f"Creating Hastaneden Ayrılış Tarih Saat for {key}")
      if 'Hastaneden Ayrılış Tarihi' in dataframe[key].columns and 'Hastaneden Ayrılış Saati' in dataframe[key].columns:
        dataframe[key]['Hastaneden Ayrılış Tarihi'] = dataframe[key]['Hastaneden Ayrılış Tarihi'].apply(parse_date)
        dataframe[key]['Hastaneden Ayrılış Saati'] = dataframe[key]['Hastaneden Ayrılış Saati'].astype(str)
        dataframe[key]["Hastaneden Ayrılış Tarih Saat"] = pd.to_datetime(
            dataframe[key]['Hastaneden Ayrılış Tarihi'].dt.strftime('%Y-%m-%d') + ' ' + dataframe[key]['Hastaneden Ayrılış Saati'],
            format='%Y-%m-%d %H:%M:%S', errors='coerce'
        )
      else:
          print(f"Warning: 'Hastaneden Ayrılış Tarihi' or 'Hastaneden Ayrılış Saati' not found in {key}. Cannot create 'Hastaneden Ayrılış Tarih Saat'.")
    else:
        print(f"Converting Hastaneden Ayrılış Tarih Saat to datetime for {key}")
        dataframe[key]['Hastaneden Ayrılış Tarih Saat'] = pd.to_datetime(dataframe[key]['Hastaneden Ayrılış Tarih Saat'], errors='coerce')"""

In [ ]:
dataframes_2022_2023['2022  AVRUPA OCAK-ARALIK DEFTER BİRLEŞMİŞ']['İhbar/Çağrı Tarih Saat']= dataframes_2022_2023['2022  AVRUPA OCAK-ARALIK DEFTER BİRLEŞMİŞ']['İhbar/Çağrı Tarihi'] + ' ' + dataframes_2022_2023['2022  AVRUPA OCAK-ARALIK DEFTER BİRLEŞMİŞ']['İhbar/Çağrı  Saati']

In [ ]:
dataframes_2022_2023['2022  AVRUPA OCAK-ARALIK DEFTER BİRLEŞMİŞ']['İhbar/Çağrı Tarih Saat']= pd.to_datetime(dataframes_2022_2023['2022  AVRUPA OCAK-ARALIK DEFTER BİRLEŞMİŞ']['İhbar/Çağrı Tarih Saat'], format= '%d-%m-%Y %H:%M:%S')

In [ ]:
dataframes_2022_2023['2022  AVRUPA OCAK-ARALIK DEFTER BİRLEŞMİŞ']['Vaka Veriliş Tarih Saat']= pd.to_datetime(dataframes_2022_2023['2022  AVRUPA OCAK-ARALIK DEFTER BİRLEŞMİŞ']['Vaka Veriliş\nTarihi'] + ' ' + dataframes_2022_2023['2022  AVRUPA OCAK-ARALIK DEFTER BİRLEŞMİŞ']['Vaka Veriliş\nSaati'], format= '%d-%m-%Y %H:%M:%S')

In [ ]:
dataframes_2022_2023['2022  AVRUPA OCAK-ARALIK DEFTER BİRLEŞMİŞ']['Olay Yeri Varış Tarih Saat']= pd.to_datetime(dataframes_2022_2023['2022  AVRUPA OCAK-ARALIK DEFTER BİRLEŞMİŞ']['Olay Yeri Varış Tarihi'] + ' ' + dataframes_2022_2023['2022  AVRUPA OCAK-ARALIK DEFTER BİRLEŞMİŞ']['Olay Yeri Varış Saati'], format= '%d-%m-%Y %H:%M:%S')

In [ ]:
dataframes_2022_2023['2022  AVRUPA OCAK-ARALIK DEFTER BİRLEŞMİŞ']['Olay Yeri Ayrılış Tarih Saat']= pd.to_datetime(dataframes_2022_2023['2022  AVRUPA OCAK-ARALIK DEFTER BİRLEŞMİŞ']['Olay Yeri Ayrılış Tarihi'] + ' ' + dataframes_2022_2023['2022  AVRUPA OCAK-ARALIK DEFTER BİRLEŞMİŞ']['Olay Yeri Ayrılış Saati'], format= '%d-%m-%Y %H:%M:%S')

In [ ]:
dataframes_2022_2023['2022  AVRUPA OCAK-ARALIK DEFTER BİRLEŞMİŞ']['Hastaneye Varış Tarih Saat']= pd.to_datetime(dataframes_2022_2023['2022  AVRUPA OCAK-ARALIK DEFTER BİRLEŞMİŞ']['Hastaneye Varış Tarihi'] + ' ' + dataframes_2022_2023['2022  AVRUPA OCAK-ARALIK DEFTER BİRLEŞMİŞ']['Hastaneye Varış Saati\n'], format= '%d-%m-%Y %H:%M:%S')

In [ ]:
dataframes_2022_2023['2022  AVRUPA OCAK-ARALIK DEFTER BİRLEŞMİŞ']['Hastaneden Ayrılış Tarih Saat']= pd.to_datetime(dataframes_2022_2023['2022  AVRUPA OCAK-ARALIK DEFTER BİRLEŞMİŞ']['Hastaneden Ayrılış Tarihi'] + ' ' + dataframes_2022_2023['2022  AVRUPA OCAK-ARALIK DEFTER BİRLEŞMİŞ']['Hastaneden Ayrılış Saati'], format= '%d-%m-%Y %H:%M:%S')

In [ ]:
dataframes_2022_2023['2023 AVR BİRLEŞTİRİLMİŞ MAHALLE DEFTERİ']['Hastaneye Varış Tarihi'].isna().sum()

In [ ]:
for dataframe in all_datas:
  for key in dataframe.keys():
    print(f"Processing {key}")

    # Rename column if necessary
    if "Hastaneye Varış Saati\n" in dataframe[key].columns:
      dataframe[key].rename(columns={"Hastaneye Varış Saati\n": "Hastaneye Varış Saati"}, inplace=True)

    # Process 'İhbar/Çağrı Tarih Saat' or create it if needed
    if "İhbar/Çağrı Tarih Saat" not in dataframe[key].columns:
      print(f"Creating İhbar/Çağrı Tarih Saat for {key}")
      # First, apply the parse_date function to the original date column
      if 'İhbar/Çağrı Tarihi' in dataframe[key].columns and 'İhbar/Çağrı  Saati' in dataframe[key].columns:

        # Convert time column to string, handling potential non-string types
        dataframe[key]['İhbar/Çağrı  Saati'] = dataframe[key]['İhbar/Çağrı  Saati']
        # Combine date and time columns, coercing errors
        dataframe[key]["İhbar/Çağrı Tarih Saat"] = pd.to_datetime(
            dataframe[key]['İhbar/Çağrı Tarihi']+ ' ' + dataframe[key]['İhbar/Çağrı  Saati'],
            format='mixed'
        )
      else:
          print(f"Warning: 'İhbar/Çağrı Tarihi' or 'İhbar/Çağrı  Saati' not found in {key}. Cannot create 'İhbar/Çağrı Tarih Saat'.")
    else:
        # If 'İhbar/Çağrı Tarih Saat' already exists, ensure it's in datetime format
        print(f"Converting İhbar/Çağrı Tarih Saat to datetime for {key}")
        dataframe[key]['İhbar/Çağrı Tarih Saat'] = pd.to_datetime(dataframe[key]['İhbar/Çağrı Tarih Saat'], format= 'mixed')


    # Process 'Vaka Veriliş Tarih Saat'
    if "Vaka Veriliş Tarih Saat" not in dataframe[key].columns:
      print(f"Creating Vaka Veriliş Tarih Saat for {key}")
      if 'Vaka Veriliş\nTarihi' in dataframe[key].columns and 'Vaka Veriliş\nSaati' in dataframe[key].columns:
        dataframe[key]['Vaka Veriliş\nSaati'] = dataframe[key]['Vaka Veriliş\nSaati']
        dataframe[key]["Vaka Veriliş Tarih Saat"] = pd.to_datetime(
            dataframe[key]['Vaka Veriliş\nTarihi'] + ' ' + dataframe[key]['Vaka Veriliş\nSaati'],
            format='mixed'
        )
      else:
           print(f"Warning: 'Vaka Veriliş\\nTarihi' or 'Vaka Veriliş\\nSaati' not found in {key}. Cannot create 'Vaka Veriliş Tarih Saat'.")
    else:
        print(f"Converting Vaka Veriliş Tarih Saat to datetime for {key}")
        dataframe[key]['Vaka Veriliş Tarih Saat'] = pd.to_datetime(dataframe[key]['Vaka Veriliş Tarih Saat'], format= 'mixed')


    # Process 'Olay Yeri Varış Tarih Saat'
    if "Olay Yeri Varış Tarih Saat" not in dataframe[key].columns:
      print(f"Creating Olay Yeri Varış Tarih Saat for {key}")
      if 'Olay Yeri Varış Tarihi' in dataframe[key].columns and 'Olay Yeri Varış Saati' in dataframe[key].columns:
        dataframe[key]['Olay Yeri Varış Saati'] = dataframe[key]['Olay Yeri Varış Saati']
        dataframe[key]["Olay Yeri Varış Tarih Saat"] = pd.to_datetime(
            dataframe[key]['Olay Yeri Varış Tarihi'] + ' ' + dataframe[key]['Olay Yeri Varış Saati'],
            format='mixed'
        )
      else:
          print(f"Warning: 'Olay Yeri Varış Tarihi' or 'Olay Yeri Varış Saati' not found in {key}. Cannot create 'Olay Yeri Varış Tarih Saat'.")
    else:
        print(f"Converting Olay Yeri Varış Tarih Saat to datetime for {key}")
        dataframe[key]['Olay Yeri Varış Tarih Saat'] = pd.to_datetime(dataframe[key]['Olay Yeri Varış Tarih Saat'], format='mixed')

    # Process 'Olay Yeri Ayrılış Tarih Saat'
    if 'Olay Yeri Ayrılış Tarih Saat' not in dataframe[key].columns:
      print(f"Creating Olay Yeri Ayrılış Tarih Saat for {key}")
      if 'Olay Yeri Ayrılış Tarihi' in dataframe[key].columns and 'Olay Yeri Ayrılış Saati' in dataframe[key].columns:
        dataframe[key]['Olay Yeri Ayrılış Saati'] = dataframe[key]['Olay Yeri Ayrılış Saati']
        dataframe[key]["Olay Yeri Ayrılış Tarih Saat"] = pd.to_datetime(
            dataframe[key]['Olay Yeri Ayrılış Tarihi'] + ' ' + dataframe[key]['Olay Yeri Ayrılış Saati'],
            format='mixed'
        )
      else:
          print(f"Warning: 'Olay Yeri Ayrılış Tarihi' or 'Olay Yeri Ayrılış Saati' not found in {key}. Cannot create 'Olay Yeri Ayrılış Tarih Saat'.")
    else:
        print(f"Converting Olay Yeri Ayrılış Tarih Saat to datetime for {key}")
        dataframe[key]['Olay Yeri Ayrılış Tarih Saat'] = pd.to_datetime(dataframe[key]['Olay Yeri Ayrılış Tarih Saat'], format= 'mixed')

    # Process 'Hastaneye Varış Tarih Saat'
    # Note the inconsistent column name 'Hastaneye varış Tarih Saat' found in the traceback
    if 'Hastaneye Varış Tarih Saat' not in dataframe[key].columns and 'Hastaneye varış Tarih Saat' in dataframe[key].columns:
         dataframe[key].rename(columns={'Hastaneye varış Tarih Saat':'Hastaneye Varış Tarih Saat'}, inplace=True)

    if 'Hastaneye Varış Tarih Saat' not in dataframe[key].columns:
      print(f"Creating Hastaneye Varış Tarih Saat for {key}")
      if 'Hastaneye Varış Tarihi' in dataframe[key].columns and 'Hastaneye Varış Saati' in dataframe[key].columns:
        dataframe[key]['Hastaneye Varış Saati'] = dataframe[key]['Hastaneye Varış Saati']
        dataframe[key]["Hastaneye Varış Tarih Saat"] = pd.to_datetime(
            dataframe[key]['Hastaneye Varış Tarihi'] + ' ' + dataframe[key]['Hastaneye Varış Saati'],
            format='mixed'
        )
      else:
          print(f"Warning: 'Hastaneye Varış Tarihi' or 'Hastaneye Varış Saati' not found in {key}. Cannot create 'Hastaneye Varış Tarih Saat'.")
    else:
        print(f"Converting Hastaneye Varış Tarih Saat to datetime for {key}")
        dataframe[key]['Hastaneye Varış Tarih Saat'] = pd.to_datetime(dataframe[key]['Hastaneye Varış Tarih Saat'], format='mixed')

    # Process 'Hastaneden Ayrılış Tarih Saat'
    if 'Hastaneden Ayrılış Tarih Saat' not in dataframe[key].columns:
      print(f"Creating Hastaneden Ayrılış Tarih Saat for {key}")
      if 'Hastaneden Ayrılış Tarihi' in dataframe[key].columns and 'Hastaneden Ayrılış Saati' in dataframe[key].columns:
        dataframe[key]['Hastaneden Ayrılış Saati'] = dataframe[key]['Hastaneden Ayrılış Saati']
        dataframe[key]["Hastaneden Ayrılış Tarih Saat"] = pd.to_datetime(
            dataframe[key]['Hastaneden Ayrılış Tarihi'] + ' ' + dataframe[key]['Hastaneden Ayrılış Saati'],
            format='mixed'
        )
      else:
          print(f"Warning: 'Hastaneden Ayrılış Tarihi' or 'Hastaneden Ayrılış Saati' not found in {key}. Cannot create 'Hastaneden Ayrılış Tarih Saat'.")
    else:
        print(f"Converting Hastaneden Ayrılış Tarih Saat to datetime for {key}")
        dataframe[key]['Hastaneden Ayrılış Tarih Saat'] = pd.to_datetime(dataframe[key]['Hastaneden Ayrılış Tarih Saat'], format='mixed')

In [ ]:
for key in dataframes_2024_2025.keys():
  print(f"{key} is proccessing")
  dataframes_2024_2025[key]['İhbar/Çağrı Tarih Saat']= pd.to_datetime(dataframes_2024_2025[key]['İhbar/Çağrı Tarihi'].astype(str).str.strip() + ' ' + dataframes_2024_2025[key]['İhbar/Çağrı  Saati'].astype(str).str.strip(), format= 'mixed', errors= 'coerce')
  dataframes_2024_2025[key]['Vaka Veriliş Tarih Saat']= pd.to_datetime(dataframes_2024_2025[key]['Vaka Veriliş\nTarihi'].astype(str).str.strip() + ' ' + dataframes_2024_2025[key]['Vaka Veriliş\nSaati'].astype(str).str.strip(), format= 'mixed', errors= 'coerce')
  dataframes_2024_2025[key]['Olay Yeri Varış Tarih Saat']= pd.to_datetime(dataframes_2024_2025[key]['Olay Yeri Varış Tarihi'].astype(str).str.strip() + ' ' + dataframes_2024_2025[key]['Olay Yeri Varış Saati'].astype(str).str.strip(), format= 'mixed', errors= 'coerce')
  dataframes_2024_2025[key]['Olay Yeri Ayrılış Tarih Saat']= pd.to_datetime(dataframes_2024_2025[key]['Olay Yeri Ayrılış Tarihi'].astype(str).str.strip() + ' ' + dataframes_2024_2025[key]['Olay Yeri Ayrılış Saati'].astype(str).str.strip(), format= 'mixed', errors= 'coerce')
  dataframes_2024_2025[key]['Hastaneye Varış Tarih Saat']= pd.to_datetime(dataframes_2024_2025[key]['Hastaneye Varış Tarihi'].astype(str).str.strip() + ' ' + dataframes_2024_2025[key]['Hastaneye Varış Saati'].astype(str).str.strip(), format= 'mixed', errors= 'coerce')
  dataframes_2024_2025[key]['Hastaneden Ayrılış Tarih Saat']= pd.to_datetime(dataframes_2024_2025[key]['Hastaneden Ayrılış Tarihi'].astype(str).str.strip() + ' ' + dataframes_2024_2025[key]['Hastaneden Ayrılış Saati'].astype(str).str.strip(), format= 'mixed', errors= 'coerce')

In [ ]:
dataframes_2018_2019['2018 YILI AVRUPA'].iloc[388904]['Vaka Veriliş Tarih Saat']

In [ ]:
data_2022_2024= [dataframes_2022_2023, dataframes_2024_2025]

In [ ]:
dataframes_2022_2023["2022  AVRUPA OCAK-ARALIK DEFTER BİRLEŞMİŞ"]["İhbar/Çağrı Tarihi"].isna().sum()

In [ ]:
"""for dataframe in data_2022_2024:
  for key in dataframe.keys():
    if "Hastaneye Varış Saati\n" in dataframe[key].columns:
      dataframe[key].rename(columns={"Hastaneye Varış Saati\n": "Hastaneye Varış Saati"}, inplace=True)
    if "İhbar/Çağrı Tarih Saat" not in dataframe[key].columns:
      print(f"Starting to process\n|\n|\n| {key} İhbar/Çağrı Tarih Saat")
      dataframe[key]['İhbar/Çağrı Tarihi']= dataframe[key]['İhbar/Çağrı Tarihi'].apply(lambda x: x.split(' ')[0] if isinstance(x, str) else pd.NaT)
      dataframe[key]["İhbar/Çağrı Tarih Saat"]= pd.to_datetime(dataframe[key]['İhbar/Çağrı Tarihi'] + ' ' + dataframe[key]['İhbar/Çağrı  Saati'], format= 'mixed', errors= 'coerce')
    if "Vaka Veriliş Tarih Saat" not in dataframe[key].columns:
      print(f"Starting to process\n|\n|\n| {key} Vaka Veriliş Tarih Saat")
      dataframe[key]['Vaka Veriliş\nTarihi'] = dataframe[key]['Vaka Veriliş\nTarihi'].apply(lambda x: x.split(' ')[0] if isinstance(x, str) else pd.NaT)
      dataframe[key]["Vaka Veriliş Tarih Saat"]= pd.to_datetime(dataframe[key]['Vaka Veriliş\nTarihi'] + ' ' + dataframe[key]['Vaka Veriliş\nSaati'], format= 'mixed', errors= 'coerce')
    if "Olay Yeri Varış Tarih Saat" not in dataframe[key].columns:
      print(f"Starting to process\n|\n|\n| {key} Olay Yeri Varış Tarih Saat")
      dataframe[key]['Olay Yeri Varış Tarihi']= dataframe[key]['Olay Yeri Varış Tarihi'].apply(lambda x: x.split(' ')[0] if isinstance(x, str) else pd.NaT)
      dataframe[key]["Olay Yeri Varış Tarih Saat"]= pd.to_datetime(dataframe[key]['Olay Yeri Varış Tarihi'] + ' ' + dataframe[key]['Olay Yeri Varış Saati'], format= 'mixed', errors= 'coerce')
    if 'Olay Yeri Ayrılış Tarih Saat' not in dataframe[key].columns:
      print(f"Starting to process\n|\n|\n| {key} Olay Yeri Ayrılış Tarih Saat")
      dataframe[key]['Olay Yeri Ayrılış Tarihi']= dataframe[key]['Olay Yeri Ayrılış Tarihi'].apply(lambda x: x.split(' ')[0] if isinstance(x, str) else pd.NaT)
      dataframe[key]["Olay Yeri Ayrılış Tarih Saat"]= pd.to_datetime(dataframe[key]['Olay Yeri Ayrılış Tarihi'] + ' ' + dataframe[key]['Olay Yeri Ayrılış Saati'], format= 'mixed', errors= 'coerce')
    if 'Hastaneye Varış Tarih Saat' not in dataframe[key].columns:
      print(f"Starting to process\n|\n|\n| {key} Hastaneye Varış Tarih Saat")
      dataframe[key]['Hastaneye Varış Tarihi']= dataframe[key]['Hastaneye Varış Tarihi'].apply(lambda x: x.split(' ')[0] if isinstance(x, str) else pd.NaT)
      dataframe[key]["Hastaneye varış Tarih Saat"]= pd.to_datetime(dataframe[key]['Hastaneye Varış Tarihi'] + ' ' + dataframe[key]['Hastaneye Varış Saati'], format= 'mixed', errors= 'coerce')
    if 'Hastaneden Ayrılış Tarih Saat' not in dataframe[key].columns:
      print(f"Starting to process\n|\n|\n| {key} Hastaneden Ayrılış Tarih Saat")
      dataframe[key]['Hastaneden Ayrılış Tarihi']= dataframe[key]['Hastaneden Ayrılış Tarihi'].apply(lambda x: x.split(' ')[0] if isinstance(x, str) else pd.NaT)
      dataframe[key]["Hastaneden Ayrılış Tarih Saat"]= pd.to_datetime(dataframe[key]['Hastaneden Ayrılış Tarihi'] + ' ' + dataframe[key]['Hastaneden Ayrılış Saati'], format= 'mixed', errors= 'coerce')"""

In [ ]:
"""temp_df= pd.read_excel(r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\2022\total\2022  AVRUPA OCAK-ARALIK DEFTER BİRLEŞMİŞ.xlsx")"""

In [ ]:
"""temp_df["İhbar/Çağrı Tarihi"].value_counts()"""

In [ ]:
all_datas= [dataframes_2018_2019, dataframes_2020_2021, dataframes_2022_2023, dataframes_2024_2025]

In [ ]:
for dataframes in all_datas:
    for key in dataframes.keys():
        if 'İhbar/Çağrı Tarihi' in dataframes[key].columns:
            print(f"Processing {key}")
            print(dataframes[key]["İhbar/Çağrı Tarih Saat"].isna().sum(),'---->', dataframes[key]['İhbar/Çağrı Tarihi'].isna().sum(), "-------NaN values")

In [ ]:
dataframes_2022_2023["2022  AVRUPA OCAK-ARALIK DEFTER BİRLEŞMİŞ"][dataframes_2022_2023["2022  AVRUPA OCAK-ARALIK DEFTER BİRLEŞMİŞ"]["İhbar/Çağrı Tarih Saat"].isna()][["İhbar/Çağrı Tarihi","İhbar/Çağrı Tarih Saat"]]

In [ ]:
"""for dataframe in all_datas:
    for key in dataframe.keys():
        print(f"Processing {key}")
        if "Hastaneye Varış Saati\n" in dataframe[key].columns:
            dataframe[key].rename(columns={"Hastaneye Varış Saati\n": "Hastaneye Varış Saati"}, inplace=True)
        if "İhbar/Çağrı Tarih Saat" in dataframe[key].columns:
            dataframe[key]['İhbar/Çağrı Tarih Saat'] = pd.to_datetime(dataframe[key]['İhbar/Çağrı Tarih Saat'], format='%d-%m-%Y %H:%M:%S', errors='coerce')
        else:
            dataframe[key]['İhbar/Çağrı Tarih Saat'] = pd.to_datetime(dataframe[key]['İhbar/Çağrı Tarihi'] + ' ' + dataframe[key]["İhbar/Çağrı  Saati"], format='%d-%m-%Y %H:%M:%S', errors='coerce')
        if "Vaka Veriliş Tarih Saat" in dataframe[key].columns:
            dataframe[key]['Vaka Veriliş Tarih Saat'] = pd.to_datetime(dataframe[key]['Vaka Veriliş Tarih Saat'], format='%d-%m-%Y %H:%M:%S', errors='coerce')
        else:
            dataframe[key]['Vaka Veriliş Tarih Saat'] = pd.to_datetime(dataframe[key]['Vaka Veriliş\nTarihi'] + ' ' + dataframe[key]["Vaka Veriliş\nSaati"], format='%d-%m-%Y %H:%M:%S', errors='coerce')
        if "Olay Yeri Varış Tarih Saat" in dataframe[key].columns:
            dataframe[key]['Olay Yeri Varış Tarih Saat'] = pd.to_datetime(dataframe[key]['Olay Yeri Varış Tarih Saat'], format='%d-%m-%Y %H:%M:%S', errors='coerce')
        else:
            dataframe[key]['Olay Yeri Varış Tarih Saat'] = pd.to_datetime(dataframe[key]['Olay Yeri Varış Tarihi'] + ' ' + dataframe[key]["Olay Yeri Varış Saati"], format='%d-%m-%Y %H:%M:%S', errors='coerce')
        if "Olay Yeri Ayrılış Tarih Saat" in dataframe[key].columns:
            dataframe[key]['Olay Yeri Ayrılış Tarih Saat'] = pd.to_datetime(dataframe[key]['Olay Yeri Ayrılış Tarih Saat'], format='%d-%m-%Y %H:%M:%S', errors='coerce')
        else:
            dataframe[key]['Olay Yeri Ayrılış Tarih Saat'] = pd.to_datetime(dataframe[key]['Olay Yeri Ayrılış Tarihi'] + ' ' + dataframe[key]["Olay Yeri Ayrılış Saati"], format='%d-%m-%Y %H:%M:%S', errors='coerce')
        if "Hastaneye Varış Tarih Saat" in dataframe[key].columns:
            dataframe[key]['Hastaneye Varış Tarih Saat'] = pd.to_datetime(dataframe[key]['Hastaneye Varış Tarih Saat'], format='%d-%m-%Y %H:%M:%S', errors='coerce')
        else:
            dataframe[key]['Hastaneye Varış Tarih Saat'] = pd.to_datetime(dataframe[key]['Hastaneye Varış Tarihi'] + ' ' + dataframe[key]["Hastaneye Varış Saati"], format='%d-%m-%Y %H:%M:%S', errors='coerce')
        if "Hastaneden Ayrılış Tarih Saat" in dataframe[key].columns:
            dataframe[key]['Hastaneden Ayrılış Tarih Saat'] = pd.to_datetime(dataframe[key]['Hastaneden Ayrılış Tarih Saat'], format='%d-%m-%Y %H:%M:%S', errors='coerce')
        else:
            dataframe[key]['Hastaneden Ayrılış Tarih Saat'] = pd.to_datetime(dataframe[key]['Hastaneden Ayrılış Tarihi'] + ' ' + dataframe[key]["Hastaneden Ayrılış Saati"], format='%d-%m-%Y %H:%M:%S', errors='coerce')"""

In [ ]:
for dataframe in all_datas:
  for key in dataframe.keys():
    for col in dataframe[key]:
      if "Olay Yeri Ayrılış" == col:
        print(key)
      else:
        print('not found')
        #dataframe[key].rename(columns={'Olay Yeri Ayrılış':'Olay Yeri Ayrılış Tarih Saat'}, inplace=True)

In [ ]:
necessary_columns

In [ ]:
dataframes_2022_2023[]

In [ ]:
dataframes_2020_2021['2020 YILI OCAK-HAZİRAN AYLARI DEFTER']['Dönüş KM']

In [ ]:
all_datas= [dataframes_2018_2019,dataframes_2020_2021, dataframes_2022_2023, dataframes_2024_2025].copy()

In [ ]:
dataframes_2024_2025['1-OCAK 2025 AVR ASOS TANI DÖNÜŞTÜRÜLMÜŞ DEFTER']['Hastaneye Varış Km']

In [ ]:
for dataframes in all_datas:
  for dataframe in dataframes.keys():
    dataframes[dataframe].rename(columns={'Varış Km':'Varış KM', 'Hastaneye Varış Km':'Hastaneye Varış KM'}, inplace=True)

In [ ]:
for dataframe in all_datas:
  for key in dataframe.keys():
      for necessary_column in necessary_columns:
        if necessary_column not in dataframe[key].columns:
            print(f"{necessary_column} not found in {key}")

In [ ]:
save_path_0= r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\parquet_files\2017\\"
save_path_001= r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\parquet_files\2018_2019\\"
save_path_1= r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\parquet_files\2020_2021\\"
save_path_2= r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\parquet_files\2022_2023\\"
save_path_3= r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\parquet_files\2024_2025\\"

In [ ]:
for key in dataframes_2017.keys():
  print(f"saving {key}")
  dataframes_2017[key].to_parquet(save_path_0 + key + ".parquet")
for key in dataframes_2018_2019.keys():
  print(f"saving {key}")
  dataframes_2018_2019[key].to_parquet(save_path_001 + key + ".parquet")
for key in dataframes_2020_2021.keys():
  print(f"saving {key}")
  dataframes_2020_2021[key].to_parquet(save_path_1 + key + ".parquet")
for key in dataframes_2022_2023.keys():
  dataframes_2022_2023[key].to_parquet(save_path_2 + key + ".parquet")
  print(f"saving {key}")
for key in dataframes_2024_2025.keys():
  print(f"saving {key}")
  dataframes_2024_2025[key].to_parquet(save_path_3 + key + ".parquet")

In [ ]:
all_datas= [dataframes_2018_2019,dataframes_2020_2021, dataframes_2022_2023, dataframes_2024_2025]

In [ ]:
dataframes_2020_2021['2021 YILI OCAK-HAZİRAN ASOS DEFTER AVRUPA']

In [ ]:
for dataframes in all_datas:
  for dataframe in dataframes.keys():
    print(dataframe)
    print([col for col in necessary_columns if col not in dataframes[dataframe].columns], "\n")
    columns_to_add= [col for col in necessary_columns if col not in dataframes[dataframe].columns]
    for col in columns_to_add:
      dataframes[dataframe][col]= pd.NA

In [ ]:
for dataframes in all_datas:
  for dataframe in dataframes.keys():
    print(dataframe)
    print([col for col in necessary_columns if col not in dataframes[dataframe].columns], "\n")

In [ ]:
dataframes_2018_2019['2019 YILI ASOS AVR']['Sonuç'].value_counts()

In [ ]:
dataframes_2024_2025['2-ŞUBAT 2025 AVR ASOS TANI DÖNÜŞTÜRÜLMÜŞ DEFTER']['Sonuç'].value_counts()

In [ ]:
dataframes_2024_2025['2024 OCAK-HAZİRAN AVR 6 AYLIK TANI DÖNÜŞTÜRÜLMÜŞ ASOS DEFTER']['Sonuç'].value_counts()

In [ ]:
necessary_columns

In [ ]:
dataframes_2018_2019['2018 YILI AVRUPA'][['İhbar Adresi']].to_csv('test.csv')

In [ ]:
df= pd.DataFrame()

In [ ]:
all_datas= [dataframes_2018_2019, dataframes_2020_2021, dataframes_2022_2023, dataframes_2024_2025]

In [ ]:
for dataframes in all_datas:
  for dataframe in dataframes.keys():
    df= pd.concat([df, dataframes[dataframe][necessary_columns]])

In [ ]:
dataframes_2018_2019['2018 YILI AVRUPA']['İhbar/Çağrı Tarih Saat'].isna().sum()

In [ ]:
len(dataframes_2018_2019['2018 YILI AVRUPA'])

In [ ]:
empty_values

In [ ]:
df.to_parquet(r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\parquet_files\work_file.parquet")

In [ ]:
df.info()

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import duckdb

import datetime as dt
import os
from concurrent.futures import ThreadPoolExecutor

In [3]:
con = duckdb.connect()
con.execute("INSTALL excel")
con.execute("LOAD excel")

In [10]:
df= pd.read_parquet(r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\parquet_files\work_file.parquet")

In [11]:
df

,KKM Protokol,Ekip No,İhbar/Çağrı Tarih Saat,Cinsiyet,Yeni Doğan,Yaş,Adli Vaka,Çağrı Nedeni,Sonuç,Nakledilen Hastane,...,Hastaneye Varış KM,Dönüş KM,Vakanın Enlemi,Vakanın Boylamı,Tansiyon,Glukoz,Ateş,SPO2,Solunum Değeri,Nabız Değeri
0,524105,ZTB3,2018-08-12 21:08:46,-,-,0,-,Medikal,Diğer,-,...,None,350792,None,None,None,None,None,None,None,None
1,516229,ZTB2,2018-03-12 17:18:46,-,-,0,-,Medikal,Diğer,-,...,None,208875,None,None,None,None,None,None,None,None
2,556760,KÇK8,2018-12-29 20:28:02,-,-,0,-,Medikal,Diğer,-,...,None,400649,None,None,None,None,None,None,None,None
3,539730,KÇK6,2018-12-19 00:05:44,-,-,0,-,Medikal,Diğer,-,...,None,241471,None,None,None,None,None,None,None,None
4,539892,KÇK2,2018-12-19 04:25:54,-,-,0,-,Medikal,Diğer,-,...,None,213045,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56915,115057184,EYP3,2025-04-30 03:18:03,ERKEK,-,37,Adli Vaka,Trafik Kazası,Nakil - Hastaneye,(EK KAMPÜS) SEYRANTEPE HAMİDİYE ETFAL EK HİZME...,...,None,144471,41.1592,28.89435,12/8,-,-,99,-,78
56916,115061653,BÇK3,2025-04-30 03:35:57,ERKEK,-,19,Adli Vaka,Trafik Kazası,Nakil - Hastaneye,T.C. SAĞLIK BAKANLIĞI BÜYÜKÇEKMECE MİMAR SİNAN...,...,None,529172,41.095515,28.624116,100/60,-,-,99,16,85
56917,115061653,BÇK7,2025-04-30 03:35:57,KADIN,-,20,Adli Vaka,Trafik Kazası,Nakil - Hastaneye,T.C. SAĞLIK BAKANLIĞI BÜYÜKÇEKMECE MİMAR SİNAN...,...,None,229242,41.095515,28.624116,110/60,-,-,99,-,80
56918,115109148,ESN6,2025-04-30 21:51:59,-,-,Kişisi Yok,-,Diğer Kazalar,Başka Araçla Nakil,-,...,None,197606,41.043002,28.879397,-,-,-,-,-,-
56919,115102844,BAG9,2025-04-30 19:31:08,ERKEK,-,46,-,Medikal,Nakil - Hastaneye,İSTANBUL ATLAS ÜNİVERSİTESİ TIP FAKÜLTESİ HAST...,...,None,339810,41.032257,28.843097,120/80,-,-,98,-,90

In [6]:
df.columns

Index(['KKM Protokol', 'Ekip No', 'İhbar/Çağrı Tarih Saat', 'Cinsiyet',
       'Yeni Doğan', 'Yaş', 'Adli Vaka', 'Çağrı Nedeni', 'Sonuç',
       'Nakledilen Hastane', 'ICD10 TANI\nADI', 'Triaj', 'Bilinç', 'Nabız',
       'Vaka Veriliş Tarih Saat', 'Olay Yeri Varış Tarih Saat',
       'Olay Yeri Ayrılış Tarih Saat', 'Hastaneye Varış Tarih Saat',
       'Hastaneden Ayrılış Tarih Saat', 'Müdahale Süresi Sn',
       'Hastane Teslim Süresi Sn', 'Çıkış KM', 'Varış KM',
       'Hastaneye Varış KM', 'Dönüş KM', 'Vakanın Enlemi', 'Vakanın Boylamı',
       'Tansiyon', 'Glukoz', 'Ateş', 'SPO2', 'Solunum Değeri', 'Nabız Değeri'],
      dtype='object')

In [13]:
# ANOTHER WAY TO FIND BY LAT AND LON
import json

import geopandas as gpd
from shapely.geometry import Point
import pandas as pd # Import pandas

def print_lonLat_columns(df):
    """Prints columns containing the substring 'enlem' (case-insensitive)."""

    for col in df.columns:
        if ('enlem' in col.lower()) | ('boylam' in col.lower()) | (col.lower() == 'lat') | (col.lower() == 'lon'):
            print(col)


def get_district_neighbourhood(df):
  # Load districts
  with open("C:/Users/mkaya/Onedrive/Masaüstü/istanbul112_hidden/data/locations/istanbul-districts.json", "r", encoding="utf-8") as f:
      districts_data = json.load(f)
      districts_gdf = gpd.GeoDataFrame.from_features(districts_data["features"])
  print_lonLat_columns(df)
  lat = "Vakanın Enlemi" if "Vakanın Enlemi" in df.columns else str(input('latitude column: '))
  lon = "Vakanın Boylamı" if "Vakanın Boylamı" in df.columns else str(input('longitude column: '))
  
  columns= [col for col in df.columns] + ['Neighbourhood', 'District']
  # Load neighborhoods
  neighbourhoods_gdf = gpd.read_file("C:/Users/mkaya/Onedrive/Masaüstü/istanbul112_hidden/data/locations/istanbul_neighbourhoods.geojson")

  # Convert latitude and longitude columns to numeric, coercing errors to NaN
  df[lat] = pd.to_numeric(df[lat], errors='coerce')
  df[lon] = pd.to_numeric(df[lon], errors='coerce')
  df_cleaned = df
  # Convert Vakanın Enlemi and Vakanın Boylamı to geometry points
  df_cleaned["geometry"] = df_cleaned.apply(lambda row: Point(row[lon], row[lat]), axis=1)
  points_gdf = gpd.GeoDataFrame(df_cleaned, geometry="geometry", crs="EPSG:4326")

  # Spatial join to find districts
  points_gdf = gpd.sjoin(points_gdf, districts_gdf, how="left", predicate="within")
  points_gdf.rename(columns={"name": "District"}, inplace=True)

  # Drop 'index_right' before the second spatial join
  if 'index_right' in points_gdf.columns:
      points_gdf = points_gdf.drop(columns=['index_right'])

  # Spatial join to find neighborhoods
  points_gdf = gpd.sjoin(points_gdf, neighbourhoods_gdf, how="left", predicate="within")
  points_gdf.rename(columns={"name": "Neighbourhood"}, inplace=True)

  # Select relevant columns and return
  return points_gdf[columns]

df= get_district_neighbourhood(df)

Vakanın Enlemi
Vakanın Boylamı

C:\Users\mkaya\AppData\Local\Temp\ipykernel_21660\3803927538.py:38: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: EPSG:4326
Right CRS: None

  points_gdf = gpd.sjoin(points_gdf, districts_gdf, how="left", predicate="within")

In [14]:
df.to_parquet(r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\parquet_files\work_file_with_neighbourhood.parquet")

In [58]:
df= pd.read_parquet(r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\parquet_files\work_file_with_neighbourhood.parquet")

In [60]:
len(df)

4276743

In [61]:
df

,KKM Protokol,Ekip No,İhbar/Çağrı Tarih Saat,Cinsiyet,Yeni Doğan,Yaş,Adli Vaka,Çağrı Nedeni,Sonuç,Nakledilen Hastane,...,Vakanın Enlemi,Vakanın Boylamı,Tansiyon,Glukoz,Ateş,SPO2,Solunum Değeri,Nabız Değeri,Neighbourhood,District
0,524105,ZTB3,2018-08-12 21:08:46,-,-,0,-,Medikal,Diğer,-,...,NaN,NaN,None,None,None,None,None,None,None,None
1,516229,ZTB2,2018-03-12 17:18:46,-,-,0,-,Medikal,Diğer,-,...,NaN,NaN,None,None,None,None,None,None,None,None
2,556760,KÇK8,2018-12-29 20:28:02,-,-,0,-,Medikal,Diğer,-,...,NaN,NaN,None,None,None,None,None,None,None,None
3,539730,KÇK6,2018-12-19 00:05:44,-,-,0,-,Medikal,Diğer,-,...,NaN,NaN,None,None,None,None,None,None,None,None
4,539892,KÇK2,2018-12-19 04:25:54,-,-,0,-,Medikal,Diğer,-,...,NaN,NaN,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56915,115057184,EYP3,2025-04-30 03:18:03,ERKEK,-,37,Adli Vaka,Trafik Kazası,Nakil - Hastaneye,(EK KAMPÜS) SEYRANTEPE HAMİDİYE ETFAL EK HİZME...,...,41.159200,28.894350,12/8,-,-,99,-,78,Mithatpaşa Mahallesi,Eyüpsultan
56916,115061653,BÇK3,2025-04-30 03:35:57,ERKEK,-,19,Adli Vaka,Trafik Kazası,Nakil - Hastaneye,T.C. SAĞLIK BAKANLIĞI BÜYÜKÇEKMECE MİMAR SİNAN...,...,41.095515,28.624116,100/60,-,-,99,16,85,Karaağaç Mahallesi,Büyükçekmece
56917,115061653,BÇK7,2025-04-30 03:35:57,KADIN,-,20,Adli Vaka,Trafik Kazası,Nakil - Hastaneye,T.C. SAĞLIK BAKANLIĞI BÜYÜKÇEKMECE MİMAR SİNAN...,...,41.095515,28.624116,110/60,-,-,99,-,80,Karaağaç Mahallesi,Büyükçekmece
56918,115109148,ESN6,2025-04-30 21:51:59,-,-,Kişisi Yok,-,Diğer Kazalar,Başka Araçla Nakil,-,...,41.043002,28.879397,-,-,-,-,-,-,Menderes Mahallesi,Esenler
56919,115102844,BAG9,2025-04-30 19:31:08,ERKEK,-,46,-,Medikal,Nakil - Hastaneye,İSTANBUL ATLAS ÜNİVERSİTESİ TIP FAKÜLTESİ HAST...,...,41.032257,28.843097,120/80,-,-,98,-,90,Kirazlı Mahallesi,Bağcılar

In [70]:
istanbul_population_density= pd.read_csv(r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\populations\istanbul_population_density.csv")

In [72]:
istanbul_population_density['Ilce']= istanbul_population_density['Ilce'].str.strip()

In [73]:
df['District']= df['District'].str.strip()

In [74]:
istanbul_population_density= istanbul_population_density[['Ilce', 'Nüfus']]

In [75]:
istanbul_population_density.rename(columns={'Nüfus':'District Population Density', 'Ilce':'District'}, inplace=True)

C:\Users\mkaya\AppData\Local\Temp\ipykernel_21660\281424629.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  istanbul_population_density.rename(columns={'Nüfus':'District Population Density', 'Ilce':'District'}, inplace=True)

In [76]:
istanbul_population_density_dict= istanbul_population_density.set_index('District').to_dict()['District Population Density']

In [77]:
df['District Population Density']= df['District'].map(istanbul_population_density_dict)

In [78]:
df

,KKM Protokol,Ekip No,İhbar/Çağrı Tarih Saat,Cinsiyet,Yeni Doğan,Yaş,Adli Vaka,Çağrı Nedeni,Sonuç,Nakledilen Hastane,...,Vakanın Boylamı,Tansiyon,Glukoz,Ateş,SPO2,Solunum Değeri,Nabız Değeri,Neighbourhood,District,District Population Density
0,524105,ZTB3,2018-08-12 21:08:46,-,-,0,-,Medikal,Diğer,-,...,NaN,None,None,None,None,None,None,None,None,NaN
1,516229,ZTB2,2018-03-12 17:18:46,-,-,0,-,Medikal,Diğer,-,...,NaN,None,None,None,None,None,None,None,None,NaN
2,556760,KÇK8,2018-12-29 20:28:02,-,-,0,-,Medikal,Diğer,-,...,NaN,None,None,None,None,None,None,None,None,NaN
3,539730,KÇK6,2018-12-19 00:05:44,-,-,0,-,Medikal,Diğer,-,...,NaN,None,None,None,None,None,None,None,None,NaN
4,539892,KÇK2,2018-12-19 04:25:54,-,-,0,-,Medikal,Diğer,-,...,NaN,None,None,None,None,None,None,None,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56915,115057184,EYP3,2025-04-30 03:18:03,ERKEK,-,37,Adli Vaka,Trafik Kazası,Nakil - Hastaneye,(EK KAMPÜS) SEYRANTEPE HAMİDİYE ETFAL EK HİZME...,...,28.894350,12/8,-,-,99,-,78,Mithatpaşa Mahallesi,Eyüpsultan,5179.0
56916,115061653,BÇK3,2025-04-30 03:35:57,ERKEK,-,19,Adli Vaka,Trafik Kazası,Nakil - Hastaneye,T.C. SAĞLIK BAKANLIĞI BÜYÜKÇEKMECE MİMAR SİNAN...,...,28.624116,100/60,-,-,99,16,85,Karaağaç Mahallesi,Büyükçekmece,1233.0
56917,115061653,BÇK7,2025-04-30 03:35:57,KADIN,-,20,Adli Vaka,Trafik Kazası,Nakil - Hastaneye,T.C. SAĞLIK BAKANLIĞI BÜYÜKÇEKMECE MİMAR SİNAN...,...,28.624116,110/60,-,-,99,-,80,Karaağaç Mahallesi,Büyükçekmece,1233.0
56918,115109148,ESN6,2025-04-30 21:51:59,-,-,Kişisi Yok,-,Diğer Kazalar,Başka Araçla Nakil,-,...,28.879397,-,-,-,-,-,-,Menderes Mahallesi,Esenler,2567.0
56919,115102844,BAG9,2025-04-30 19:31:08,ERKEK,-,46,-,Medikal,Nakil - Hastaneye,İSTANBUL ATLAS ÜNİVERSİTESİ TIP FAKÜLTESİ HAST...,...,28.843097,120/80,-,-,98,-,90,Kirazlı Mahallesi,Bağcılar,24596.0

In [44]:
df.head()

,KKM Protokol,Ekip No,İhbar/Çağrı Tarih Saat,Cinsiyet,Yeni Doğan,Yaş,Adli Vaka,Çağrı Nedeni,Sonuç,Nakledilen Hastane,...,Vakanın Boylamı,Tansiyon,Glukoz,Ateş,SPO2,Solunum Değeri,Nabız Değeri,Neighbourhood,District,District Population Density
0,524105,ZTB3,2018-08-12 21:08:46,-,-,0,-,Medikal,Diğer,-,...,NaN,None,None,None,None,None,None,None,None,NaN
1,516229,ZTB2,2018-03-12 17:18:46,-,-,0,-,Medikal,Diğer,-,...,NaN,None,None,None,None,None,None,None,None,NaN
2,556760,KÇK8,2018-12-29 20:28:02,-,-,0,-,Medikal,Diğer,-,...,NaN,None,None,None,None,None,None,None,None,NaN
3,539730,KÇK6,2018-12-19 00:05:44,-,-,0,-,Medikal,Diğer,-,...,NaN,None,None,None,None,None,None,None,None,NaN
4,539892,KÇK2,2018-12-19 04:25:54,-,-,0,-,Medikal,Diğer,-,...,NaN,None,None,None,None,None,None,None,None,NaN

In [79]:
df.to_parquet(r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\parquet_files\work_file_3_with_neighbourhood_and_population_density.parquet")

In [80]:
df['case_response_time'] = round((pd.to_datetime(df['Olay Yeri Varış Tarih Saat']) - pd.to_datetime(df['İhbar/Çağrı Tarih Saat'])).dt.total_seconds() / 60, 2)  # Convert to minutes

In [81]:
df.head()

,KKM Protokol,Ekip No,İhbar/Çağrı Tarih Saat,Cinsiyet,Yeni Doğan,Yaş,Adli Vaka,Çağrı Nedeni,Sonuç,Nakledilen Hastane,...,Tansiyon,Glukoz,Ateş,SPO2,Solunum Değeri,Nabız Değeri,Neighbourhood,District,District Population Density,case_response_time
0,524105,ZTB3,2018-08-12 21:08:46,-,-,0,-,Medikal,Diğer,-,...,None,None,None,None,None,None,None,None,NaN,14.22
1,516229,ZTB2,2018-03-12 17:18:46,-,-,0,-,Medikal,Diğer,-,...,None,None,None,None,None,None,None,None,NaN,10.23
2,556760,KÇK8,2018-12-29 20:28:02,-,-,0,-,Medikal,Diğer,-,...,None,None,None,None,None,None,None,None,NaN,2.97
3,539730,KÇK6,2018-12-19 00:05:44,-,-,0,-,Medikal,Diğer,-,...,None,None,None,None,None,None,None,None,NaN,13.47
4,539892,KÇK2,2018-12-19 04:25:54,-,-,0,-,Medikal,Diğer,-,...,None,None,None,None,None,None,None,None,NaN,15.10

In [82]:
df['Çıkış KM'].fillna(np.nan, inplace=True)
df['Varış KM'].fillna(np.nan, inplace=True)

C:\Users\mkaya\AppData\Local\Temp\ipykernel_21660\3405500442.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Çıkış KM'].fillna(np.nan, inplace=True)
C:\Users\mkaya\AppData\Local\Temp\ipykernel_21660\3405500442.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Varış KM'].fillna(np.nan, inplace=True)

In [83]:
df['total_distance'] = df["Dönüş KM"].astype(float) - df['Çıkış KM'].astype(float)

In [84]:
df[['Dönüş KM', 'Çıkış KM', 'total_distance']].head()

  Dönüş KM Çıkış KM  total_distance
0   350792   350786             6.0
1   208875   208869             6.0
2   400649   400648             1.0
3   241471   241461            10.0
4   213045   213039             6.0

In [85]:
df.head()

,KKM Protokol,Ekip No,İhbar/Çağrı Tarih Saat,Cinsiyet,Yeni Doğan,Yaş,Adli Vaka,Çağrı Nedeni,Sonuç,Nakledilen Hastane,...,Glukoz,Ateş,SPO2,Solunum Değeri,Nabız Değeri,Neighbourhood,District,District Population Density,case_response_time,total_distance
0,524105,ZTB3,2018-08-12 21:08:46,-,-,0,-,Medikal,Diğer,-,...,None,None,None,None,None,None,None,NaN,14.22,6.0
1,516229,ZTB2,2018-03-12 17:18:46,-,-,0,-,Medikal,Diğer,-,...,None,None,None,None,None,None,None,NaN,10.23,6.0
2,556760,KÇK8,2018-12-29 20:28:02,-,-,0,-,Medikal,Diğer,-,...,None,None,None,None,None,None,None,NaN,2.97,1.0
3,539730,KÇK6,2018-12-19 00:05:44,-,-,0,-,Medikal,Diğer,-,...,None,None,None,None,None,None,None,NaN,13.47,10.0
4,539892,KÇK2,2018-12-19 04:25:54,-,-,0,-,Medikal,Diğer,-,...,None,None,None,None,None,None,None,NaN,15.10,6.0

In [86]:
len(df)

4276743

In [87]:
df.to_parquet(r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\parquet_files\work_file_4_with_neighbourhood_and_population_density.parquet")

In [19]:
df= pd.read_parquet(r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\parquet_files\work_file_4_with_neighbourhood_and_population_density.parquet")

In [20]:
df['Cinsiyet'].unique()

array(['-', 'ERKEK', 'KADIN', "HBYS'den Cinsiyet Verisi Gelmedi",
       'HBYS den Cinsiyet Verisi Gelmedi'], dtype=object)

In [21]:
df['Yaş']= df['Yaş'].str.replace('-', '')

In [22]:
df['Nabız Değeri'].unique()

array([None, '100', '88', '105', '86', '90', '91', '110', '96', '87', '-',
       '00', '80', '123', '77', '76', '85', '84', '121', '103', '107',
       '135', '127', '78', '68', '89', '141', '95', '145', '83', '81',
       '94', '125', '40', '0', '70', '79', '71', '75', '165', '138',
       '106', '134', '82', '120', '104', '130', '102', '140', '92', '72',
       '66', '73', '108', '74', '112', '93', '97', '101', '65', '98',
       '99', '126', '62', '160', '55', '170', '60', '53', '69', '147',
       '122', '47', '111', '16', '115', '124', '114', '34', '150', '118',
       '67', '158', '149', '146', '128', '54', '116', '144', '113', '136',
       '154', '155', '180', '21', '131', '52', '270', '132', '133', '117',
       '64', '161', '56', '57', '162', '225', '109', '10', '50', '129',
       '143', '51', '61', '142', '119', '148', '153', '173', '151', '199',
       '168', '230', '20', '14', '45', '63', '42', '190', '39', '260',
       '28', '163', '284', '200', '59', '38', '177', '46', '139', '166',
       '156', '220', '137', '58', '210', '152', '49', '18', '33', '187',
       '188', '176', '164', '1160', '30', '172', '709', '48', '32', '157',
       '1120', '175', '167', '178', '44', '169', '189', '182', '159',
       '205', '209', '184', '300', '35', '882', '198', '36', '90 ', '174',
       ' 81', '235', '228', '215', '223', '8', '250', '218', '192', '82 ',
       '164 ', '179', '24', '71 ', '80 ', '98 ', '15', '43', '25', '183',
       '186', '196', '000', '171', '240', '185', '195', '12', '19', '22',
       '208', '94 ', '181', '41', '1000', '26', '1115', '23', '1110',
       '222', '212', '734', '202', '197', '990', '801', '201', '194',
       '68 ', '92 ', ' 86', '254', '708', '1', '207', '889', '226', '17',
       '263', '211', '246', '37', '854', '170100', ' 100', '214', '14090',
       '102 ', '244', '080', ' 78', '584', '88 ', '203', '118 ', '204',
       '31', '70 ', '144 ', '84 ', '193', '888', '858', '13', '0110', '9',
       '27', '245', '216', '206', '110 ', '236', '141 ', '11', ' 104',
       '705', '959', '224', '785', '863', '217', '  84', '  82', '700',
       '256', '227', '770', '670', '902', '229', '992', '660', '852',
       '920', ' 120', ' 80', ' 85', '75 ', '+93', '191', '219', '282',
       '1005', '1868', '273', '1100', '005', '798', '900', '600', '1025',
       '822', '802', '87 ', '060', '704', '901', '841', '238', '99 ',
       '452', '29', '701', ' 110', '6', '400', '213', '847', '247', '800',
       '288', ' 0', '850', '252', '264', '234', '941', '180 ', '922',
       '0 ', '1440', '221', '285', '7', '296', '   62', '        76',
       '120 ', '955', '077', ' 90', '86 ', '74 ', '702', '15080', '233',
       '232', '248', '8997', '1088', '8196', '7420', '1008', '320',
       '1212', ' 74', '1007', '81 ', '390', ' 101', '5', '647', '242',
       '307', '710', '897', '97 ', '258', '730', '243', '885', '09',
       '1108', '4', '354', '268', ' 130', '890', '255', '766', ' 92',
       '01', '85 ', '1198', '237', '128 ', '100 ', '070', '  110', '1002',
       '896', '836', ' 70', '696', '425', '666', '360', '487', '1114',
       '265', '668', '350', '362', '9892', '280', '239', '844', '337',
       '276', '909', '249', '370', '880', '680', '802008008', '826',
       '331', '985', '1012', '287', '6743', '310', '1320', '401', '293',
       '970', '404', '96 ', '842', '585', '998', '241', '290', '774',
       '995', '546', '1388', '1113', '925', '444', '231', '906', '816',
       '1300', '275', ' 79', '720', '1220', '777', '1155', '7878', '8080',
       '1130', '424', '899', '946', ' 116'], dtype=object)

In [23]:
print(df.columns)

Index(['KKM Protokol', 'Ekip No', 'İhbar/Çağrı Tarih Saat', 'Cinsiyet',
       'Yeni Doğan', 'Yaş', 'Adli Vaka', 'Çağrı Nedeni', 'Sonuç',
       'Nakledilen Hastane', 'ICD10 TANI\nADI', 'Triaj', 'Bilinç', 'Nabız',
       'Vaka Veriliş Tarih Saat', 'Olay Yeri Varış Tarih Saat',
       'Olay Yeri Ayrılış Tarih Saat', 'Hastaneye Varış Tarih Saat',
       'Hastaneden Ayrılış Tarih Saat', 'Müdahale Süresi Sn',
       'Hastane Teslim Süresi Sn', 'Çıkış KM', 'Varış KM',
       'Hastaneye Varış KM', 'Dönüş KM', 'Vakanın Enlemi', 'Vakanın Boylamı',
       'Tansiyon', 'Glukoz', 'Ateş', 'SPO2', 'Solunum Değeri', 'Nabız Değeri',
       'Neighbourhood', 'District', 'District Population Density',
       'case_response_time', 'total_distance'],
      dtype='object')

In [24]:
os.getcwd()

'c:\\Users\\mkaya\\OneDrive\\Belgeler\\GitHub\\istanbul_analysis\\ipynb_workouts'

In [25]:
df['Ateş'].value_counts()

Ateş
-        2087269
36         54918
36.5       31992
37         21104
36.4       16129
          ...
37.89          1
97.7           1
98.2           1
17.1           1
96.9           1
Name: count, Length: 405, dtype: int64

In [26]:
df['Ateş']= df['Ateş'].apply(lambda x: float(x) if isinstance(x, str) and x.replace('.', '', 1).isdigit() else np.nan)
df['Yaş']= df['Yaş'].apply(lambda x: int(x) if isinstance(x, str) and x.isdigit() else np.nan)
df['Nabız Değeri']= df['Nabız Değeri'].apply(lambda x: float(x) if isinstance(x, str) and x.replace('.', '', 1).isdigit() else np.nan)
df['Glukoz']= df['Glukoz'].apply(lambda x: float(x) if isinstance(x, str) and x.replace('.', '', 1).isdigit() else np.nan)
df['SPO2']= df['SPO2'].apply(lambda x: float(x) if isinstance(x, str) and x.replace('.', '', 1).isdigit() else np.nan)
df['Solunum Değeri']= df['Solunum Değeri'].apply(lambda x: float(x) if isinstance(x, str) and x.replace('.', '', 1).isdigit() else np.nan)

In [27]:
df.loc[(df['total_distance']>1000) | (df['total_distance']<0), 'total_distance']= np.nan
df.loc[(df['case_response_time']>1440) | (df['case_response_time']<0), 'case_response_time']= np.nan
df.loc[(df['Ateş'] > 50) | (df['Ateş'] < 0), 'Ateş'] = np.nan
df.loc[(df['Yaş'] > 120) | (df['Yaş'] < 0), 'Yaş'] = np.nan
df.loc[(df['Nabız Değeri'] > 300) | (df['Nabız Değeri'] < 0), 'Nabız Değeri'] = np.nan
df.loc[(df['Glukoz'] > 1000) | (df['Glukoz'] < 0), 'Glukoz'] = np.nan
df.loc[(df['SPO2'] > 100) | (df['SPO2'] < 0), 'SPO2'] = np.nan
df.loc[(df['Solunum Değeri'] > 100) | (df['Solunum Değeri'] < 0), 'Solunum Değeri'] = np.nan
df['Ateş'].fillna(np.nan, inplace=True)
df['Yaş'].fillna(np.nan, inplace=True)  
df['Nabız Değeri'].fillna(np.nan, inplace=True)
df['Glukoz'].fillna(np.nan, inplace=True)
df['SPO2'].fillna(np.nan, inplace=True)
df['Solunum Değeri'].fillna(np.nan, inplace=True)

C:\Users\mkaya\AppData\Local\Temp\ipykernel_17368\1732036469.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Ateş'].fillna(np.nan, inplace=True)
C:\Users\mkaya\AppData\Local\Temp\ipykernel_17368\1732036469.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Yaş'].fillna(np.nan, inplace=True)
C:\Users\mkaya\AppData\Local\Temp\ipykernel_17368\1732036469.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Nabız Değeri'].fillna(np.nan, inplace=True)
C:\Users\mkaya\AppData\Local\Temp\ipykernel_17368\1732036469.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Glukoz'].fillna(np.nan, inplace=True)
C:\Users\mkaya\AppData\Local\Temp\ipykernel_17368\1732036469.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['SPO2'].fillna(np.nan, inplace=True)
C:\Users\mkaya\AppData\Local\Temp\ipykernel_17368\1732036469.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Solunum Değeri'].fillna(np.nan, inplace=True)

In [24]:
icd_scores= pd.read_csv("icd10_diagnoses_scored.csv")

In [25]:
icd_scores['ICD10 TANI']= icd_scores['ICD10 TANI'].str.strip()
icd_scores_dict= icd_scores.set_index('ICD10 TANI').to_dict()['Expanded Score']

In [26]:
df['icd_score'] = df['ICD10 TANI\nADI'].map(icd_scores_dict)

In [32]:
df

,KKM Protokol,Ekip No,İhbar/Çağrı Tarih Saat,Cinsiyet,Yeni Doğan,Yaş,Adli Vaka,Çağrı Nedeni,Sonuç,Nakledilen Hastane,...,Ateş,SPO2,Solunum Değeri,Nabız Değeri,Neighbourhood,District,District Population Density,case_response_time,total_distance,icd_score
0,524105,ZTB3,2018-08-12 21:08:46,-,-,0.0,-,Medikal,Diğer,-,...,NaN,NaN,NaN,NaN,None,None,NaN,14.22,6.0,NaN
1,516229,ZTB2,2018-03-12 17:18:46,-,-,0.0,-,Medikal,Diğer,-,...,NaN,NaN,NaN,NaN,None,None,NaN,10.23,6.0,NaN
2,556760,KÇK8,2018-12-29 20:28:02,-,-,0.0,-,Medikal,Diğer,-,...,NaN,NaN,NaN,NaN,None,None,NaN,2.97,1.0,NaN
3,539730,KÇK6,2018-12-19 00:05:44,-,-,0.0,-,Medikal,Diğer,-,...,NaN,NaN,NaN,NaN,None,None,NaN,13.47,10.0,NaN
4,539892,KÇK2,2018-12-19 04:25:54,-,-,0.0,-,Medikal,Diğer,-,...,NaN,NaN,NaN,NaN,None,None,NaN,15.10,6.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56915,115057184,EYP3,2025-04-30 03:18:03,ERKEK,-,37.0,Adli Vaka,Trafik Kazası,Nakil - Hastaneye,(EK KAMPÜS) SEYRANTEPE HAMİDİYE ETFAL EK HİZME...,...,NaN,99.0,NaN,78.0,Mithatpaşa Mahallesi,Eyüpsultan,5179.0,12.45,37.0,8.0
56916,115061653,BÇK3,2025-04-30 03:35:57,ERKEK,-,19.0,Adli Vaka,Trafik Kazası,Nakil - Hastaneye,T.C. SAĞLIK BAKANLIĞI BÜYÜKÇEKMECE MİMAR SİNAN...,...,NaN,99.0,16.0,85.0,Karaağaç Mahallesi,Büyükçekmece,1233.0,30.88,34.0,2.0
56917,115061653,BÇK7,2025-04-30 03:35:57,KADIN,-,20.0,Adli Vaka,Trafik Kazası,Nakil - Hastaneye,T.C. SAĞLIK BAKANLIĞI BÜYÜKÇEKMECE MİMAR SİNAN...,...,NaN,99.0,NaN,80.0,Karaağaç Mahallesi,Büyükçekmece,1233.0,54.05,45.0,2.0
56918,115109148,ESN6,2025-04-30 21:51:59,-,-,NaN,-,Diğer Kazalar,Başka Araçla Nakil,-,...,NaN,NaN,NaN,NaN,Menderes Mahallesi,Esenler,2567.0,20.40,8.0,NaN
56919,115102844,BAG9,2025-04-30 19:31:08,ERKEK,-,46.0,-,Medikal,Nakil - Hastaneye,İSTANBUL ATLAS ÜNİVERSİTESİ TIP FAKÜLTESİ HAST...,...,NaN,98.0,NaN,90.0,Kirazlı Mahallesi,Bağcılar,24596.0,15.52,11.0,1.0

In [33]:
# Scoring functions
def age_score(age):
    try:
        age = int(age)
        if age < 0:
            return 1
        elif age <= 18:
            return 2
        elif 18 < age <= 65:
            return 3
        elif age > 65:
            return 4
    except:
        return 1

def cagri_score(val):
    high_impact = ["Terör", "Trafik Kazası", "Yaralama", "Beyaz Kod Sağlık Personeline Şiddet"]
    med_impact = ["Medikal", "Diğer Kazalar", "İntihar"]
    if val in high_impact:
        return 4
    elif val in med_impact:
        return 3
    else:
        return 1

def sonuc_score(val):
    high_impact = [
        "Nakil - Hastaneye", "Ex - Yerinde Bırakıldı", "Nakil - Eve",
        "Nakil - Tıbbi Tetkik İçin", "Nakil - Hastaneler Arası", "Ex - Morga Nakil"
    ]
    med_impact = ["Diğer", "Olay Yerinde Bekleme", "Yerinde Müdahale", "Nakil - Diğer"]
    if val in high_impact:
        return 4
    elif val in med_impact:
        return 3
    else:
        return 1

def tansiyon_score(val):
    try:
        s, d = map(int, str(val).split("/"))
        score = 1
        if s < 80 or s > 180 or d < 50 or d > 110:
            score = 4
        elif (80 <= s < 90 or 140 < s <= 180) or (50 <= d < 60 or 90 < d <= 110):
            score = 3
        elif (90 <= s < 100 or 130 < s <= 140) or (60 <= d < 70 or 80 < d <= 90):
            score = 2
        return score
    except:
        return 1

def glukoz_score(val):
    try:
        g = float(val)
        if g < 40 or g > 400:
            return 4
        elif 40 <= g < 60 or 200 < g <= 400:
            return 3
        elif 60 <= g < 70 or 140 < g <= 200:
            return 2
        else:
            return 1
    except:
        return 1

def ates_score(val):
    try:
        t = float(val)
        if t < 30 or t > 41:
            return 4
        elif 30 <= t < 34 or 39 < t <= 41:
            return 3
        elif 34 <= t < 36 or 38 < t <= 39:
            return 2
        else:
            return 1
    except:
        return 1

def spo2_score(val):
    try:
        s = float(val)
        if s < 70:
            return 4
        elif 70 <= s < 85:
            return 3
        elif 85 <= s < 94:
            return 2
        else:  # 94-100
            return 1
    except:
        return 1

def solunum_score(val):
    try:
        v = float(val)
        if v < 5 or v > 40:
            return 4
        elif 5 <= v < 10 or 30 < v <= 40:
            return 3
        elif 10 <= v < 12 or 24 < v <= 30:
            return 2
        else:  # 12-24
            return 1
    except:
        return 1

def nabiz_deg_score(val):
    try:
        v = float(val)
        if v < 40 or v > 150:
            return 4
        elif 40 <= v < 50 or 130 < v <= 150:
            return 3
        elif 50 <= v < 60 or 120 < v <= 130:
            return 2
        else:  # 60-120 normal
            return 1
    except:
        return 1

# Apply all scores
df["cinsiyet_score"] = df["Cinsiyet"].map({
    "ERKEK": 3,
    "KADIN": 2
}).fillna(1)

df["yeni_dogan_score"] = df["Yeni Doğan"].apply(lambda x: 3 if x == "Yeni Doğan" else 1)
df["yas_score"] = df["Yaş"].apply(age_score)
df["adli_vaka_score"] = df["Adli Vaka"].apply(lambda x: 3 if x == "Adli Vaka" else 1)
df["cagri_nedeni_score"] = df["Çağrı Nedeni"].apply(cagri_score)
df["sonuc_score"] = df["Sonuç"].apply(sonuc_score)
df["triaj_score"] = df["Triaj"].map({"Kırmızı Kod": 4, "Sarı Kod": 3, "Yeşil Kod": 2}).fillna(1)

bilinç_map = {
    "Koma": 4, "Semikoma": 4, "Kapalı": 4, "Sedatize": 4,
    "Bulanık": 3, "Konfüze": 3, "Açık": 2
}
df["bilinc_score"] = df["Bilinç"].map(bilinç_map).fillna(1)

nabiz_map = {
    "Alınmıyor": 4, "Filiform": 4, "Aritmik": 3, "Düzenli": 2
}
df["nabiz_score"] = df["Nabız"].map(nabiz_map).fillna(1)

df["tansiyon_score"] = df["Tansiyon"].apply(tansiyon_score)
df["glukoz_score"] = df["Glukoz"].apply(glukoz_score)
df["ates_score"] = df["Ateş"].apply(ates_score)
df["spo2_score"] = df["SPO2"].apply(spo2_score)
df["solunum_score"] = df["Solunum Değeri"].apply(solunum_score)
df["nabiz_deger_score"] = df["Nabız Değeri"].apply(nabiz_deg_score)

In [28]:
df['nabiz_score'].value_counts()

nabiz_score
2.0    2375426
1.0    1507105
4.0      83029
3.0      34195
Name: count, dtype: int64

In [27]:
df['case_count']= 1

In [37]:
df.head()

,KKM Protokol,Ekip No,İhbar/Çağrı Tarih Saat,Cinsiyet,Yeni Doğan,Yaş,Adli Vaka,Çağrı Nedeni,Sonuç,Nakledilen Hastane,...,triaj_score,bilinc_score,nabiz_score,tansiyon_score,glukoz_score,ates_score,spo2_score,solunum_score,nabiz_deger_score,case_count
0,524105,ZTB3,2018-08-12 21:08:46,-,-,0.0,-,Medikal,Diğer,-,...,1.0,1.0,1.0,1,1,1,1,1,1,1
1,516229,ZTB2,2018-03-12 17:18:46,-,-,0.0,-,Medikal,Diğer,-,...,1.0,1.0,1.0,1,1,1,1,1,1,1
2,556760,KÇK8,2018-12-29 20:28:02,-,-,0.0,-,Medikal,Diğer,-,...,1.0,1.0,1.0,1,1,1,1,1,1,1
3,539730,KÇK6,2018-12-19 00:05:44,-,-,0.0,-,Medikal,Diğer,-,...,1.0,1.0,1.0,1,1,1,1,1,1,1
4,539892,KÇK2,2018-12-19 04:25:54,-,-,0.0,-,Medikal,Diğer,-,...,1.0,1.0,1.0,1,1,1,1,1,1,1

In [29]:
df['spo2_score'].value_counts()

spo2_score
1    3819491
2      99169
3      43072
4      38023
Name: count, dtype: int64

In [30]:
df[df['total_distance']>1000][['Çıkış KM', 'Varış KM', 'Dönüş KM', 'total_distance']].head()

Empty DataFrame
Columns: [Çıkış KM, Varış KM, Dönüş KM, total_distance]
Index: []

In [31]:
df['total_distance'].mean()

14.78327887046057

In [32]:
df.columns

Index(['KKM Protokol', 'Ekip No', 'İhbar/Çağrı Tarih Saat', 'Cinsiyet',
       'Yeni Doğan', 'Yaş', 'Adli Vaka', 'Çağrı Nedeni', 'Sonuç',
       'Nakledilen Hastane', 'ICD10 TANI\nADI', 'Triaj', 'Bilinç', 'Nabız',
       'Vaka Veriliş Tarih Saat', 'Olay Yeri Varış Tarih Saat',
       'Olay Yeri Ayrılış Tarih Saat', 'Hastaneye Varış Tarih Saat',
       'Hastaneden Ayrılış Tarih Saat', 'Müdahale Süresi Sn',
       'Hastane Teslim Süresi Sn', 'Çıkış KM', 'Varış KM',
       'Hastaneye Varış KM', 'Dönüş KM', 'Vakanın Enlemi', 'Vakanın Boylamı',
       'Tansiyon', 'Glukoz', 'Ateş', 'SPO2', 'Solunum Değeri', 'Nabız Değeri',
       'Neighbourhood', 'District', 'District Population Density',
       'case_response_time', 'total_distance', 'cinsiyet_score',
       'yeni_dogan_score', 'yas_score', 'adli_vaka_score',
       'cagri_nedeni_score', 'sonuc_score', 'triaj_score', 'bilinc_score',
       'nabiz_score', 'tansiyon_score', 'glukoz_score', 'ates_score',
       'spo2_score', 'solunum_score', 'nabiz_deger_score', 'case_count',
       'ihbar_date', 'season', 'day', 'icd_score'],
      dtype='object')

In [33]:
team_codes= pd.read_csv(r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\keywords\team_code_match\eu_team_code.csv")

In [34]:
team_codes['ASOS']= team_codes['ASOS'].str.strip()

In [35]:
df= df[df['Ekip No'].isin(team_codes['ASOS'])]

In [36]:
df= df[~df['Ekip No'].isin(['KÇK6', 'ESY4','BAG5','ZTB3', 'FTH5','BKR6', 'STG7B'])]

In [37]:
df['ihbar_date'] = pd.to_datetime(df['İhbar/Çağrı Tarih Saat']).dt.date

In [38]:
daily_counts = df.groupby(['Ekip No', 'ihbar_date']).size().reset_index(name='daily_case_count')

In [39]:
mean_daily_cases = daily_counts.groupby('Ekip No')['daily_case_count'].mean().rename('mean_daily_case_count')

In [40]:
df_population_density = pd.read_csv(r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\populations\istanbul_population_density.csv")

In [41]:
df_population_density['Ilce'] = df_population_density['Ilce'].str.strip()

In [42]:
df_population_density['Nüfus']= df_population_density['Nüfus'].astype(float)

In [43]:
df_population_density= df_population_density.groupby('Ilce')['Nüfus'].sum().reset_index()

In [44]:
population_density_dict= df_population_density.set_index('Ilce').to_dict()['Nüfus']

In [45]:
df['District Population Density']= df['District'].map(population_density_dict)

In [46]:
df_district_case_counts =df.groupby(['District', 'Ekip No']).agg({'case_count':'sum', 'District Population Density':'mean'}).reset_index().sort_values(by=['District', 'case_count'], ascending=[True, False])

In [47]:
df_district_case_counts['case_count_percentage'] = df_district_case_counts.groupby('District')['case_count'].transform(lambda x: x / x.sum() * 100)

In [48]:
df_district_case_counts['teams_population_density'] = df_district_case_counts['District Population Density'] / 100 * df_district_case_counts['case_count_percentage']

In [49]:
team_population_densities= df_district_case_counts.groupby(['Ekip No']).agg({'case_count': 'sum', 'teams_population_density': 'mean'}).reset_index().sort_values(by='teams_population_density', ascending=False)

In [50]:
team_population_densities

    Ekip No  case_count  teams_population_density
42     BEŞ2        1732              29487.094223
142    KÇK1        2727              24212.813773
43     BEŞ3        2444              20432.461494
200    ŞİŞ4        2504              19475.169232
146   KÇK13        2733              16489.192662
..      ...         ...                       ...
194    ÇTL3         646                904.072103
193    ÇTL2         914                869.300106
46     BEŞ6         600                836.149494
113    EYP7         538                725.066663
196    ÇTL5         264                374.959933

[206 rows x 3 columns]

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import numpy as np

In [2]:
df= pd.read_parquet(r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\parquet_files\work_file_final.parquet")

In [4]:
df.head()

,KKM Protokol,Ekip No,İhbar/Çağrı Tarih Saat,Cinsiyet,Yeni Doğan,Yaş,Adli Vaka,Çağrı Nedeni,Sonuç,Nakledilen Hastane,...,bilinc_score,nabiz_score,tansiyon_score,glukoz_score,ates_score,spo2_score,solunum_score,nabiz_deger_score,case_count,ihbar_date
1,516229,ZTB2,2018-03-12 17:18:46,-,-,0.0,-,Medikal,Diğer,-,...,1.0,1.0,1,1,1,1,1,1,1,2018-03-12
2,556760,KÇK8,2018-12-29 20:28:02,-,-,0.0,-,Medikal,Diğer,-,...,1.0,1.0,1,1,1,1,1,1,1,2018-12-29
4,539892,KÇK2,2018-12-19 04:25:54,-,-,0.0,-,Medikal,Diğer,-,...,1.0,1.0,1,1,1,1,1,1,1,2018-12-19
5,552710,KÇK9,2018-12-27 11:36:58,-,-,0.0,-,Medikal,Diğer,-,...,1.0,1.0,1,1,1,1,1,1,1,2018-12-27
6,557861,KÇK7,2018-12-30 15:42:03,-,-,0.0,-,Diğer,Diğer,-,...,1.0,1.0,1,1,1,1,1,1,1,2018-12-30

In [5]:
df['season'] = df['İhbar/Çağrı Tarih Saat'].apply(lambda x: 'Winter' if x.month in [12, 1, 2] else ('Spring' if x.month in [3, 4, 5] else ('Summer' if x.month in [6, 7, 8] else 'Autumn')))
df['day']= df['İhbar/Çağrı Tarih Saat'].dt.day_name()

In [51]:
df.columns

Index(['KKM Protokol', 'Ekip No', 'İhbar/Çağrı Tarih Saat', 'Cinsiyet',
       'Yeni Doğan', 'Yaş', 'Adli Vaka', 'Çağrı Nedeni', 'Sonuç',
       'Nakledilen Hastane', 'ICD10 TANI\nADI', 'Triaj', 'Bilinç', 'Nabız',
       'Vaka Veriliş Tarih Saat', 'Olay Yeri Varış Tarih Saat',
       'Olay Yeri Ayrılış Tarih Saat', 'Hastaneye Varış Tarih Saat',
       'Hastaneden Ayrılış Tarih Saat', 'Müdahale Süresi Sn',
       'Hastane Teslim Süresi Sn', 'Çıkış KM', 'Varış KM',
       'Hastaneye Varış KM', 'Dönüş KM', 'Vakanın Enlemi', 'Vakanın Boylamı',
       'Tansiyon', 'Glukoz', 'Ateş', 'SPO2', 'Solunum Değeri', 'Nabız Değeri',
       'Neighbourhood', 'District', 'District Population Density',
       'case_response_time', 'total_distance', 'cinsiyet_score',
       'yeni_dogan_score', 'yas_score', 'adli_vaka_score',
       'cagri_nedeni_score', 'sonuc_score', 'triaj_score', 'bilinc_score',
       'nabiz_score', 'tansiyon_score', 'glukoz_score', 'ates_score',
       'spo2_score', 'solunum_score', 'nabiz_deger_score', 'case_count',
       'ihbar_date', 'season', 'day', 'icd_score'],
      dtype='object')

In [53]:
def logarithmic_score(value, base=10, scale=1):
    if value <= 0:
        return 0
    return scale * np.log(value + 1) / np.log(base)

for season in df['season'].unique():
    for day in df['day'].unique():
        subset = df[(df['season'] == season) & (df['day'] == day)]
        if not subset.empty:
            df_team_grouped = subset.groupby('Ekip No').agg({
                'total_distance': 'mean',
                'case_response_time': 'mean',
                'yas_score': 'mean',
                'cinsiyet_score': 'mean',
                'yeni_dogan_score': 'mean',
                'adli_vaka_score': 'mean',
                'cagri_nedeni_score': 'mean',
                'sonuc_score': 'mean',
                'triaj_score': 'mean',
                'bilinc_score': 'mean',
                'nabiz_score': 'mean',
                'tansiyon_score': 'mean',
                'glukoz_score': 'mean',
                'ates_score': 'mean',
                'spo2_score': 'mean',
                'solunum_score': 'mean',
                'nabiz_deger_score': 'mean',
                'icd_score': 'mean',
            })

            df_team_grouped = df_team_grouped.merge(mean_daily_cases, left_index=True, right_index=True)
            df_team_grouped= pd.merge(df_team_grouped, team_population_densities, on='Ekip No', how='left', suffixes=('', '_team_density'))
            
            for col in df_team_grouped.columns[1:]:
                new_col= col + '_logarithmic_score'
                df_team_grouped[new_col] = df_team_grouped[col].apply(lambda x: logarithmic_score(x, base=10, scale=1))
                
            for col in df_team_grouped.columns:
                if col.endswith('_logarithmic_score'):
                    new_col = col + '_z_score'
                    df_team_grouped[new_col] = (df_team_grouped[col] - df_team_grouped[col].mean()) / df_team_grouped[col].std()
            
            df_team_grouped['total_score']= df_team_grouped[[col for col in df_team_grouped.columns if col.endswith('_logarithmic_score')]].sum(axis=1)
            df_team_grouped['total_score_z']= (df_team_grouped['total_score'] - df_team_grouped['total_score'].mean()) / df_team_grouped['total_score'].std()
            df_team_grouped= df_team_grouped.sort_values(by='total_score_z', ascending=False).reset_index()

            df_team_grouped.to_excel(rf"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\parquet_files\team_case_intensities\{season}_{day}_total scores.xlsx")

In [ ]:

df_team_grouped = df.groupby('Ekip No').agg({
    'total_distance': 'mean',
    'case_response_time': 'mean',
    'yas_score': 'mean',
    'cinsiyet_score': 'mean',
    'yeni_dogan_score': 'mean',
    'adli_vaka_score': 'mean',
    'cagri_nedeni_score': 'mean',
    'sonuc_score': 'mean',
    'triaj_score': 'mean',
    'bilinc_score': 'mean',
    'nabiz_score': 'mean',
    'tansiyon_score': 'mean',
    'glukoz_score': 'mean',
    'ates_score': 'mean',
    'spo2_score': 'mean',
    'solunum_score': 'mean',
    'nabiz_deger_score': 'mean',
    'icd_score': 'mean',
})

df_team_grouped = df_team_grouped.merge(mean_daily_cases, left_index=True, right_index=True)
df_team_grouped= pd.merge(df_team_grouped, team_population_densities, on='Ekip No', how='left', suffixes=('', '_team_density'))

In [320]:
df_team_grouped.columns

Index(['Ekip No', 'total_distance', 'case_response_time', 'yas_score',
       'cinsiyet_score', 'yeni_dogan_score', 'adli_vaka_score',
       'cagri_nedeni_score', 'sonuc_score', 'triaj_score', 'bilinc_score',
       'nabiz_score', 'tansiyon_score', 'glukoz_score', 'ates_score',
       'spo2_score', 'solunum_score', 'nabiz_deger_score', 'icd_score',
       'mean_daily_case_count', 'case_count', 'teams_population_density'],
      dtype='object')

In [321]:
df_team_grouped

,Ekip No,total_distance,case_response_time,yas_score,cinsiyet_score,yeni_dogan_score,adli_vaka_score,cagri_nedeni_score,sonuc_score,triaj_score,...,tansiyon_score,glukoz_score,ates_score,spo2_score,solunum_score,nabiz_deger_score,icd_score,mean_daily_case_count,case_count,teams_population_density
0,ARN1,17.438218,16.783090,2.905216,2.317792,1.000967,1.156875,2.933076,3.478183,2.772685,...,1.426989,1.058795,1.003296,1.058092,1.019423,1.051632,1.600860,8.970043,2389,4723.698008
1,ARN2,32.530534,18.079517,2.876261,2.358513,1.000623,1.261427,2.944700,3.232158,2.666085,...,1.350853,1.060157,1.004608,1.067132,1.017686,1.054179,1.705304,6.319559,1720,2557.932316
2,ARN3,25.450537,19.557835,2.872930,2.286897,1.000720,1.169392,2.930063,3.336110,2.752597,...,1.405585,1.057338,1.003445,1.059550,1.022472,1.043299,1.572640,7.610959,1707,2019.964273
3,ARN4,20.865747,18.130833,2.930581,2.344570,1.001524,1.143884,2.904918,3.506118,2.804980,...,1.443175,1.060515,1.009332,1.067133,1.031662,1.060468,1.583529,8.197892,2179,9655.987665
4,ARN5,44.354258,23.794578,2.913327,2.318781,1.005121,1.188452,2.749584,3.343234,2.782742,...,1.483549,1.062860,1.005633,1.082448,1.047625,1.090257,1.556242,4.366126,998,1089.744488
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,ŞİŞ5,10.209242,16.759755,2.812465,2.155474,1.000990,1.150647,2.865445,3.141734,2.659033,...,1.700130,1.063935,1.003157,1.107755,1.034412,1.092220,1.675608,8.686559,2227,8618.028800
202,ŞİŞ6,11.289206,19.014242,2.861665,2.192597,1.003873,1.176431,2.876661,3.185977,2.705003,...,1.355924,1.055073,1.004638,1.078354,1.018778,1.055613,1.627073,8.767075,2473,3292.297376
203,ŞİŞ7,12.016899,19.527245,2.807957,2.135483,1.002097,1.187999,2.928365,3.048173,2.549770,...,1.371605,1.042831,1.003145,1.052266,1.022863,1.049371,1.613905,7.965010,2026,6563.083768
204,ŞİŞ8,10.614757,19.424025,2.920241,2.192825,1.001080,1.121168,2.901112,3.148940,2.751587,...,1.428636,1.040735,1.005041,1.083990,1.034523,1.065760,1.575367,8.833797,2446,2613.462771
205,ŞİŞ9,12.905532,14.269878,2.766620,2.178987,1.002603,1.214784,2.879312,3.161041,2.640353,...,1.719014,1.103766,1.007624,1.107857,1.031520,1.098094,1.664867,7.448061,1902,10840.605770

In [322]:
def logarithmic_score(value, base=10, scale=1):
    if value <= 0:
        return 0
    return scale * np.log(value + 1) / np.log(base)

In [323]:
for col in df_team_grouped.columns[1:]:
    new_col= col + '_logarithmic_score'
    df_team_grouped[new_col] = df_team_grouped[col].apply(lambda x: logarithmic_score(x, base=10, scale=1))

In [324]:
df_team_grouped['teams_population_density_logarithmic_score'].min()

2.56927809538477

In [325]:
df_team_grouped

,Ekip No,total_distance,case_response_time,yas_score,cinsiyet_score,yeni_dogan_score,adli_vaka_score,cagri_nedeni_score,sonuc_score,triaj_score,...,tansiyon_score_logarithmic_score,glukoz_score_logarithmic_score,ates_score_logarithmic_score,spo2_score_logarithmic_score,solunum_score_logarithmic_score,nabiz_deger_score_logarithmic_score,icd_score_logarithmic_score,mean_daily_case_count_logarithmic_score,case_count_logarithmic_score,teams_population_density_logarithmic_score
0,ARN1,17.438218,16.783090,2.905216,2.317792,1.000967,1.156875,2.933076,3.478183,2.772685,...,0.385068,0.313613,0.301745,0.313465,0.305227,0.312100,0.415117,0.998697,3.378398,3.674374
1,ARN2,32.530534,18.079517,2.876261,2.358513,1.000623,1.261427,2.944700,3.232158,2.666085,...,0.371226,0.313900,0.302030,0.315368,0.304854,0.312638,0.432216,0.864485,3.235781,3.408059
2,ARN3,25.450537,19.557835,2.872930,2.286897,1.000720,1.169392,2.930063,3.336110,2.752597,...,0.381221,0.313306,0.301778,0.313772,0.305883,0.310332,0.410379,0.935052,3.232488,3.305559
3,ARN4,20.865747,18.130833,2.930581,2.344570,1.001524,1.143884,2.904918,3.506118,2.804980,...,0.387955,0.313976,0.303052,0.315368,0.307851,0.313966,0.412213,0.963688,3.338456,3.984842
4,ARN5,44.354258,23.794578,2.913327,2.318781,1.005121,1.188452,2.749584,3.343234,2.782742,...,0.395073,0.314470,0.302251,0.318574,0.311250,0.320200,0.407602,0.729661,2.999565,3.037723
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,ŞİŞ5,10.209242,16.759755,2.812465,2.155474,1.000990,1.150647,2.865445,3.141734,2.659033,...,0.431385,0.314696,0.301715,0.323820,0.308439,0.320607,0.427422,0.986170,3.347915,3.935458
202,ŞİŞ6,11.289206,19.014242,2.861665,2.192597,1.003873,1.176431,2.876661,3.185977,2.705003,...,0.372161,0.312827,0.302036,0.317719,0.305089,0.312941,0.419472,0.989765,3.393400,3.517631
203,ŞİŞ7,12.016899,19.527245,2.807957,2.135483,1.002097,1.187999,2.928365,3.048173,2.549770,...,0.375042,0.310233,0.301712,0.312234,0.305967,0.311621,0.417290,0.952551,3.306854,3.817174
204,ŞİŞ8,10.614757,19.424025,2.920241,2.192825,1.001080,1.121168,2.901112,3.148940,2.751587,...,0.385362,0.309787,0.302123,0.318896,0.308463,0.315080,0.410839,0.992721,3.388634,3.417382
205,ŞİŞ9,12.905532,14.269878,2.766620,2.178987,1.002603,1.214784,2.879312,3.161041,2.640353,...,0.434412,0.322997,0.302682,0.323841,0.307821,0.321825,0.425676,0.926757,3.279439,4.035094

In [326]:
for col in df_team_grouped.columns:
    if col.endswith('_logarithmic_score'):
        new_col = col + '_z_score'
        df_team_grouped[new_col] = (df_team_grouped[col] - df_team_grouped[col].mean()) / df_team_grouped[col].std()

In [327]:
df_team_grouped['total_score']= df_team_grouped[[col for col in df_team_grouped.columns if col.endswith('_logarithmic_score')]].sum(axis=1)

In [328]:
df_team_grouped.sort_values(by='total_score', ascending=False, inplace=True)

In [329]:
df_team_grouped['total_z_score']= (df_team_grouped['total_score'] - df_team_grouped['total_score'].mean()) / df_team_grouped['total_score'].std()

In [330]:
df_team_grouped.sort_values(by='total_z_score', ascending=False, inplace=True)

In [331]:
df_team_grouped.index= df_team_grouped['Ekip No']

In [332]:
df_team_grouped.loc['ÇTL3']

Ekip No                                                    ÇTL3
total_distance                                        72.730335
case_response_time                                    22.027962
yas_score                                              3.065452
cinsiyet_score                                         2.356416
                                                        ...
mean_daily_case_count_logarithmic_score_z_score       -3.867118
case_count_logarithmic_score_z_score                  -2.892642
teams_population_density_logarithmic_score_z_score    -2.550583
total_score                                           16.406745
total_z_score                                         -2.134624
Name: ÇTL3, Length: 66, dtype: object

In [333]:
df_team_grouped.to_excel(r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\parquet_files\team_scores.xlsx", index=False)

In [ ]:
#df_team_grouped['total_score'] = df_team_grouped['total_score'] + df_team_grouped['mean_daily_case_count']

In [222]:
df_population_density

             Ilce     Nüfus
0      Arnavutköy  253014.0
1        Ataşehir  423372.0
2         Avcılar  435682.0
3    Bahçelievler  598454.0
4        Bakırköy  222370.0
5      Bayrampaşa  274197.0
6        Bağcılar  748483.0
7      Başakşehir  396665.0
8          Beykoz  244164.0
9      Beylikdüzü  314662.0
10        Beyoğlu  236515.0
11       Beşiktaş  185447.0
12   Büyükçekmece  240945.0
13        Esenler  454569.0
14       Esenyurt  846492.0
15     Eyüpsultan  377095.0
16          Fatih  433650.0
17  Gaziosmanpaşa  497959.0
18       Güngören  296967.0
19        Kadıköy  451453.0
20         Kartal  463433.0
21      Kağıthane  442694.0
22   Küçükçekmece  770392.0
23        Maltepe  497586.0
24         Pendik  694747.0
25     Sancaktepe  400668.0
26        Sarıyer  344543.0
27        Silivri  155139.0
28    Sultanbeyli  329985.0
29     Sultangazi  528514.0
30          Tuzla  250451.0
31    Zeytinburnu  287378.0
32        Çatalca   39607.0
33       Çekmeköy  243130.0
34       Ümraniye  699897.0
35        Üsküdar  533570.0
36           Şile   20801.0
37          Şişli  274196.0

In [74]:
population_density_dict

{'Zeytinburnu': 2592,
 'Esenler': 2567,
 'Güngören': 10184,
 'Bağcılar': 24596,
 'Bahçelievler': 34683,
 'Kağıthane': 38313,
 'Beyoğlu': 128,
 'Gaziosmanpaşa': 23816,
 'Fatih': 135,
 'Esenyurt': 10461,
 'Şişli': 2504,
 'Sultangazi': 6743,
 'Eyüpsultan': 5179,
 'Beşiktaş': 3145,
 'Küçükçekmece': 10461,
 'Bayrampaşa': 21448,
 'Maltepe': 7779,
 'Üsküdar': 1712,
 'Avcılar': 22496,
 'Çekmeköy': 2132,
 'Ümraniye': 3976,
 'Sancaktepe': 5458,
 'Pendik': 3414,
 'Ataşehir': 22254,
 'Bakırköy': 23785,
 'Silivri': 1938,
 'Kartal': 16305,
 'Kadıköy': 17657,
 'Sultanbeyli': 18158,
 'Beylikdüzü': 11644,
 'Arnavutköy': 5242,
 'Tuzla': 1903,
 'Sarıyer': 393,
 'Büyükçekmece': 1233,
 'Beykoz': 1283,
 'Başakşehir': 1269,
 'Şile': 724,
 'Çatalca': 2491}

In [118]:
df_district_case_counts.head()

,District,Ekip No,case_count,District Population Density,case_count_percentage,teams_population_density
0,Adalar,BEŞ6,1,NaN,100.000000,NaN
1,Arnavutköy,ARN1,2322,253014.0,16.165414,40900.759398
4,Arnavutköy,ARN4,2119,253014.0,14.752158,37325.025480
6,Arnavutköy,ARN6,1957,253014.0,13.624339,34471.484127
7,Arnavutköy,ARN7,1727,253014.0,12.023113,30420.159983

In [109]:
df_district_case_counts.to_excel(r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\parquet_files\district_case_counts.xlsx", index=False)

In [119]:
team_population_densities

    Ekip No  case_count  teams_population_density
42     BEŞ2        1838              28917.555408
142    KÇK1        2828              24161.068015
201    ŞİŞ4        2630              19985.700611
43     BEŞ3        2564              17027.632494
102    ESY5        3707              14348.743936
..      ...         ...                       ...
46     BEŞ6         636                921.862618
195    ÇTL3         671                892.589290
194    ÇTL2         960                803.316216
113    EYP7         569                736.437174
197    ÇTL5         273                369.918159

[207 rows x 3 columns]

In [115]:
team_population_densities.to_excel(r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\parquet_files\team_population_densities.xlsx", index=False)

In [116]:
pd.merge(df_team_grouped, team_population_densities, on='Ekip No', how='left', suffixes=('', '_team_density'))

,Ekip No,total_distance,case_response_time,yas_score,cinsiyet_score,yeni_dogan_score,adli_vaka_score,cagri_nedeni_score,sonuc_score,triaj_score,...,glukoz_score_z_score,ates_score_z_score,spo2_score_z_score,solunum_score_z_score,nabiz_deger_score_z_score,icd_score_z_score,mean_daily_case_count_z_score,total_score,case_count,teams_population_density
0,SLV8,33.965813,14.440356,2.937828,2.324058,1.000318,1.178725,2.710606,3.470345,2.759262,...,0.780395,5.402121,3.297188,3.175765,3.119744,0.989743,-1.286873,28.043222,434,1144.849828
1,ÇTL4,67.069087,24.479850,3.069253,2.327603,1.000491,1.191552,2.937868,3.324411,2.634578,...,1.418639,1.437938,3.413770,4.512574,2.053054,0.448405,-3.213136,25.794950,600,949.373055
2,BŞK6,16.106371,18.983381,2.830885,2.315580,1.023263,1.172482,2.784359,3.447352,2.727808,...,1.647746,0.774498,0.776881,3.895744,2.922511,0.335984,-0.498386,24.833915,1993,5995.753120
3,BÇK7,19.200404,13.454594,3.001049,2.341833,1.000807,1.149774,2.830939,3.510491,2.980875,...,3.507173,0.903589,3.347664,1.014449,2.518481,0.618390,-0.270699,24.312572,2168,3379.858834
4,BDZ6,17.294199,15.804913,3.009305,2.341306,1.000727,1.137395,2.825385,3.503199,3.080183,...,1.382597,0.527476,2.589006,2.395711,1.798994,-1.205196,-0.064423,23.067141,2348,7545.774939
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,BEŞ5,16.165048,18.515485,2.877813,2.186769,1.000113,1.173942,2.887883,3.055018,2.647952,...,-1.048848,-0.625442,-0.894844,-0.230509,-1.191211,-0.342305,-0.869592,-5.498561,1774,4917.277421
203,SRY7,33.505649,23.508995,2.752232,2.130241,1.000811,1.215851,2.915742,2.734514,2.610225,...,-1.450837,0.844072,0.187277,0.467684,-0.232563,0.165388,-2.538681,-7.466447,978,4893.192397
204,SLV2,6.828099,6.767064,2.859160,2.722391,1.000000,1.041700,2.831125,3.119699,2.202143,...,-1.632763,-1.791399,-2.382275,-1.379224,-1.809086,-1.968734,0.491959,-7.970485,2166,13844.789728
205,ŞİŞ7,12.016899,19.527245,2.807957,2.135483,1.002097,1.187999,2.928365,3.048173,2.549770,...,-1.263047,-1.004356,-0.972249,-0.195299,-0.957313,-0.529704,-0.331045,-8.604636,2026,6563.083768
206,SRY5,40.877450,26.519386,2.735085,2.110350,1.003238,1.160418,2.357330,3.148960,2.586623,...,-1.408642,-1.235046,-0.955789,1.021483,-0.871934,-0.886612,-2.791093,-13.054366,528,3485.287621

In [59]:
df_team_grouped.tail(60)

,total_distance,case_response_time,yas_score,cinsiyet_score,yeni_dogan_score,adli_vaka_score,cagri_nedeni_score,sonuc_score,triaj_score,bilinc_score,...,nabiz_score_z_score,tansiyon_score_z_score,glukoz_score_z_score,ates_score_z_score,spo2_score_z_score,solunum_score_z_score,nabiz_deger_score_z_score,icd_score_z_score,mean_daily_case_count_z_score,total_score
Ekip No,,,,,,,,,,,,,,,,,,,,,
ZTB4,9.850225,17.743066,2.999314,2.308721,1.003514,1.120420,2.817784,3.329334,2.855153,1.605871,...,-0.852228,-0.833607,-0.412507,-0.723008,-0.032596,-0.626986,-0.432062,0.037183,0.291542,4.296374
BEY6,9.538734,15.321222,2.908261,2.236198,1.000668,1.146130,2.967960,3.246371,2.783813,1.638723,...,-0.299269,0.121486,-0.283426,-0.463620,-0.554941,-1.031012,-1.173979,0.349989,1.020645,4.273361
GOP2,11.312458,15.047036,2.954346,2.296159,1.004684,1.131594,2.908655,3.264125,2.685176,1.710147,...,0.236956,-0.411939,-0.751288,-0.423225,-0.573903,-1.265362,-1.391391,-0.877342,1.163564,4.218758
BYR6,12.015620,15.322541,2.994784,2.270067,1.000796,1.135962,2.959070,3.308787,2.767813,1.606878,...,-0.422869,0.408873,-0.052193,-0.476615,-0.804102,-1.346111,-1.064080,0.610988,0.301686,4.084531
BHC5,7.778615,14.753874,2.997530,2.269151,1.000654,1.085576,2.929025,3.364026,2.778359,1.699357,...,-0.536808,-0.340425,-0.068962,-0.653091,-0.697321,-0.647416,-0.732634,-1.073216,1.175890,4.019006
STG7B,10.501648,11.172635,2.785560,2.231950,1.005768,1.143990,2.883510,3.287774,2.584303,1.451437,...,-2.416309,1.971956,1.586433,-0.914781,2.459997,0.601079,1.697861,1.067479,-0.539817,3.973853
AVC9,27.915150,19.046107,2.807541,2.309294,1.001754,1.163086,2.412319,3.427883,2.952652,1.437089,...,-1.990506,3.643421,0.906761,1.443065,1.097303,0.435228,1.535221,-0.461407,-2.320816,3.934763
BHC1,8.912791,17.733367,3.011856,2.260141,1.003429,1.143151,2.912747,3.300852,2.718205,1.659759,...,-0.561630,-0.277079,-0.292200,-1.094132,0.205788,-0.285204,0.276739,-0.577614,-0.243620,3.911326
BDZ4,16.247562,19.311790,2.911618,2.271906,1.001432,1.166819,2.901476,3.262122,2.817191,1.584265,...,-0.757318,-1.095436,-0.770633,0.818652,-0.773210,-0.824499,-1.036379,-0.959811,0.676522,3.842488
FTH9,11.229712,20.000574,2.834995,2.272244,1.000863,1.184276,2.935570,3.185906,2.666347,1.720470,...,0.364828,-0.338508,-0.246277,-1.217488,-0.838631,-0.711748,-1.251973,1.928184,-0.019677,3.781444
BEY4,12.691761,17.773102,2.965700,2.261912,1.001511,1.124509,2.902387,3.262214,2.733706,1.684195,...,-0.066837,-0.901384,-0.017345,0.604589,-0.217334,0.250495,-0.643497,-0.143195,-0.388750,3.733021
GOP3,13.650439,15.997175,2.968222,2.303186,1.000318,1.148192,2.944875,3.336117,2.781013,1.641451,...,-0.877437,-0.836721,-0.979987,-0.710777,-0.453626,-0.517118,-0.756913,-1.010060,0.703848,3.589307
AVC4,13.379744,15.823992,2.926015,2.274429,1.000363,1.154221,2.985901,3.342200,2.768596,1.530688,...,-1.429859,-0.430390,-0.620483,-0.165369,-0.936901,-1.157389,-0.983885,-0.273142,1.124220,3.474238
GNG1,11.878529,18.343277,2.958495,2.301349,1.003277,1.154006,2.912402,3.210038,2.638523,1.779422,...,0.665336,-0.721937,-0.257286,-0.611134,-0.339578,-0.295373,-0.091071,-0.707154,-0.688049,3.328822
ARN3,25.450537,19.557835,2.872930,2.286897,1.000720,1.169392,2.930063,3.336110,2.752597,1.732181,...,0.520654,-0.550158,-0.714132,-0.898368,-0.685214,-0.224358,-1.224114,-1.037629,-0.519757,3.241909
FTH14,10.539470,18.614716,2.804818,2.223524,1.004085,1.174134,2.953361,3.116826,2.680240,1.734631,...,0.328987,-0.253666,-0.502359,-0.996376,-0.827745,-0.578107,-1.225730,0.741881,0.580179,3.044873
AVC8,12.357238,17.114740,2.997198,2.292979,1.000509,1.144579,2.944477,3.369089,2.828466,1.498345,...,-1.711084,-0.996258,-0.805323,-0.676280,-0.594654,-0.661075,-0.905238,0.599781,0.305579,2.656153
BEY3,13.355093,19.804932,2.930211,2.247537,1.002707,1.162750,2.883757,3.231565,2.711965,1.723281,...,0.089476,0.058253,-0.316771,-0.585873,-0.381961,0.310634,-0.714363,-0.956436,-0.688363,2.572903
GOP1,10.558019,15.620616,2.891332,2.271630,1.001349,1.161295,2.923321,3.316518,2.658557,1.613153,...,-1.154020,0.103966,-0.177543,-0.965725,-0.746857,-0.726529,-0.209044,-0.377957,0.681830,2.567489
ŞİŞ9,12.905532,14.269878,2.766620,2.178987,1.002603,1.214784,2.879312,3.161041,2.640353,1.456253,...,-1.737802,1.259911,1.042613,0.575702,1.218618,0.448186,1.183686,0.097602,-0.606583,2.394438
SRY3,22.557408,24.374203,2.972609,2.296888,1.000761,1.168759,2.622689,3.430039,2.890436,1.761166,...,0.655242,-0.841745,-1.006628,-1.308552,-0.660203,0.090348,-0.656016,-0.090370,-1.742590,2.363101
BEŞ1,15.606618,18.748816,2.975602,2.231322,1.000396,1.189647,2.874184,3.205077,2.735378,1.750940,...,0.386768,-0.398858,-0.892620,-0.345943,-0.308565,0.756967,-0.521834,-0.250896,-1.387872,1.871064
ZTB7,11.777980,13.571465,2.817561,2.254777,1.000728,1.141947,2.737489,3.217834,2.819745,1.468062,...,-1.830758,2.154297,0.535168,1.705760,0.995040,-0.325628,0.247854,0.213492,-0.647714,1.631715
BEŞ4,11.656421,16.442749,2.912002,2.224830,1.000486,1.238581,2.968124,3.161176,2.736443,1.659378,...,-0.029339,-0.774631,-0.784038,-0.982476,-1.300944,-0.818457,-1.292657,1.786336,-0.288224,1.620015
BEŞ6,18.404579,15.769940,2.845374,2.225558,1.002252,1.186902,2.598424,3.259899,2.712892,1.560893,...,-0.986465,4.012914,0.091379,0.136832,0.968878,1.550538,1.235285,-0.455477,-2.207485,1.605761
BEY2,7.459192,14.269934,2.780970,2.163583,1.000263,1.203057,3.007823,3.043385,2.523550,1.664454,...,-0.043862,-0.860675,-0.811780,-0.907961,-0.898679,0.152558,-0.982029,1.393062,1.699380,1.605495
AVC5,12.288576,17.402458,2.994747,2.283366,1.000389,1.118969,2.941780,3.306372,2.725195,1.512354,...,-1.259939,-0.307422,-0.772794,0.185272,-0.014957,-0.622177,-0.329099,-0.139272,-0.265426,1.434516
ZTB5,10.579376,16.395589,2.941735,2.277885,1.000963,1.124934,2.892795,3.273420,2.956444,1.677815,...,-0.273623,-0.966823,-0.861277,-1.449737,-1.103319,-0.840528,-1.230137,0.133894,0.331254,1.234537
BKR7,12.026964,20.138529,3.061518,2.287100,1.007805,1.126612,2.815772,3.335772,2.834309,1.447209,...,-2.106427,-0.584914,-0.160174,-1.043064,-0.673868,-0.533040,-1.009460,0.924576,-0.710894,1.195286
BEŞ2,16.869612,19.208396,2.909597,2.187670,1.000618,1.173881,3.041615,3.157556,2.758904,1.588363,...,-1.103671,-0.510562,-0.536952,-0.346959,0.155460,0.614828,-0.385149,0.902275,-1.215911,1.170189
AVC3,14.062307,20.291983,2.905569,2.260477,1.000838,1.147700,2.950410,3.277333,2.812907,1.698780,...,0.189529,-0.789576,-0.956211,-0.405529,-1.127265,-1.244095,-1.025431,-1.135293,-0.117215,1.152275
BHC7,7.971232,16.028922,3.023628,2.276079,1.001257,1.094261,2.920863,3.437872,2.810306,1.352702,...,-2.630126,-0.652330,-0.594710,-0.103968,-0.390412,-0.549524,-0.089301,0.227818,0.446400,1.100217
STG4,12.994658,15.867327,2.894239,2.269180,1.002802,1.142912,2.936993,3.315374,2.629516,1.676899,...,-0.203868,-0.534156,-0.681179,-1.185172,-0.513819,-1.004815,-0.346928,-0.890703,0.360205,1.094876
KĞT5,12.733340,14.396537,2.944588,2.238018,1.000635,1.153358,2.943681,3.246588,2.692922,1.668027,...,-0.262601,-1.217500,-0.636030,-0.578183,-0.644549,0.390496,-0.845288,-0.289258,0.182418,1.072202
BYR4,11.927813,15.367293,2.950025,2.282451,1.001200,1.136773,2.960731,3.271469,2.804531,1.445619,...,-1.879345,0.121275,-0.402598,-0.518562,-0.273297,-0.598239,-0.324505,-0.283428,0.118995,1.035179
STG5,22.118332,21.103924,2.859698,2.274308,1.012147,1.174960,2.826155,3.255642,2.557363,1.715384,...,0.237065,-0.505762,-0.941938,-1.406147,-0.629733,-0.341628,-0.528984,-1.556945,-0.796967,0.895966
BHC8,9.561154,19.134288,2.975978,2.272594,1.008220,1.130703,2.883911,3.403982,2.794858,1.383249,...,-2.293471,-0.889611,-1.262841,-0.518916,-0.780525,-0.370600,-0.800939,0.431435,0.000512,0.743159
FTH11,11.629137,20.496045,2.780513,2.285418,1.002298,1.157137,2.866328,3.143791,2.722316,1.658551,...,-0.249180,-0.898085,-0.868905,-1.038190,-1.619729,-0.594059,-0.957829,2.091927,0.105983,0.578513
ZTB2,11.399708,17.270458,2.932706,2.295009,1.005129,1.130123,2.819395,3.365152,2.839436,1.652705,...,-0.285394,-0.774062,-1.259278,-1.477147,-0.872253,-0.740467,-1.332118,-0.010090,-0.104925,0.442768
ŞİŞ5,10.209242,16.759755,2.812465,2.155474,1.000990,1.150647,2.865445,3.141734,2.659033,1.505478,...,-1.271941,1.150853,-0.464516,-1.000278,1.214611,0.663165,0.925576,0.229803,0.053547,0.438314
GOP6,11.361056,13.978665,2.898235,2.268634,1.001666,1.120664,2.907931,3.336313,2.635396,1.571012,...,-0.613680,-0.167851,-1.027914,-0.911371,-0.693192,-0.056469,-0.550562,-1.171674,0.931777,0.376130
EYP2,11.043129,15.557692,2.947318,2.239641,1.000439,1.123556,2.956105,3.097017,2.849290,1.534470,...,-1.122934,-0.283902,-0.886976,-0.145350,0.081414,-0.549175,-0.319454,-0.200965,0.173239,0.105096
ŞİŞ6,11.289206,19.014242,2.861665,2.192597,1.003873,1.176431,2.876661,3.185977,2.705003,1.620750,...,-0.654879,-0.836952,-0.799856,-0.477642,0.055874,-0.498990,-0.683021,-0.367615,0.096462,0.101004
ŞİŞ8,10.614757,19.424025,2.920241,2.192825,1.001080,1.121168,2.901112,3.148940,2.751587,1.609128,...,-0.821151,-0.417038,-1.342391,-0.335486,0.277996,0.671400,-0.237122,-1.004068,0.132026,0.065123
KĞT7,17.076495,18.411303,2.857052,2.256765,1.000478,1.189748,2.747453,3.252786,2.785021,1.692853,...,0.108572,-0.235650,-0.715330,-0.934543,-0.208984,-0.037072,-0.545650,0.079018,-1.048159,0.057294
STG1,15.622065,16.036149,2.844545,2.254398,1.003281,1.143105,2.903929,3.288807,2.634172,1.648300,...,-1.016376,-0.480238,-0.395303,-0.779403,-0.323535,-0.055282,0.181602,-1.460264,-0.009781,-0.139960
KĞT6,9.500597,16.903255,2.849039,2.204451,1.000566,1.143799,2.973983,3.137366,2.641594,1.428808,...,-2.038000,-0.823086,-0.302471,-0.044230,0.232061,0.923320,-0.296274,-0.035508,0.680242,-0.262660
BHC4,10.573971,17.075645,2.910249,2.258305,1.004080,1.154692,2.920490,3.285696,2.763384,1.609483,...,-1.152765,-0.657609,-1.420402,-0.762781,-1.229075,-0.985059,-1.070709,-0.480352,0.403673,-0.337176
KÇK9,12.459361,17.339605,2.985837,2.253522,1.000990,1.107515,2.931546,3.250476,2.947232,1.391076,...,-2.392042,-0.537206,-0.812159,-0.784189,-1.105532,-1.317482,-1.370167,0.241835,1.030264,-0.349045
ŞİŞ1,8.662009,17.977458,2.935752,2.208569,1.000272,1.162594,2.963591,3.203627,2.652097,1.550850,...,-0.956197,-0.357484,-0.814661,-0.866207,-0.705522,-0.364668,-0.771776,0.190779,0.182849,-0.605768
BEY1,10.265534,15.336875,2.852206,2.160636,1.000541,1.132294,2.976749,3.052719,2.579958,1.610913,...,-0.553296,-0.579080,-0.212030,1.605526,-0.865606,-0.638783,-0.940860,0.506882,0.174162,-2.201051
BKR1,12.178255,22.870240,2.974680,2.226478,1.006666,1.141863,2.853283,3.263318,2.660780,1.560201,...,-1.094407,-0.484274,-0.837026,-0.711086,-0.849661,-0.925489,-0.865562,-0.759819,-0.973704,-2.638757
ZTB1,9.452545,17.718309,2.900433,2.226682,1.002011,1.112204,2.863046,3.137785,2.728366,1.546373,...,-1.076724,-1.162617,-1.030601,-0.231940,-0.386798,-0.201356,-0.586593,-0.586878,0.216840,-3.210013
BEY5,7.780811,14.269327,2.722636,2.153783,1.000342,1.190040,2.959023,3.095225,2.502052,1.545013,...,-1.078726,-1.456765,-1.051077,-0.991642,-1.316075,-1.269344,-1.523066,2.227345,1.458793,-4.963406
BHC6,12.851522,18.253673,2.860135,2.222410,1.001337,1.148333,2.922936,3.191968,2.594134,1.523979,...,-1.073773,-1.173505,-1.052178,-0.793060,-1.324705,-0.841234,-1.142765,-0.414072,0.157733,-5.328986
BEŞ5,16.165048,18.515485,2.877813,2.186769,1.000113,1.173942,2.887883,3.055018,2.647952,1.640302,...,-0.251516,-0.663435,-1.048848,-0.625442,-0.894844,-0.230509,-1.191211,-0.342305,-0.869592,-5.498561
SRY7,33.505649,23.508995,2.752232,2.130241,1.000811,1.215851,2.915742,2.734514,2.610225,1.567081,...,-0.800229,-0.297798,-1.450837,0.844072,0.187277,0.467684,-0.232563,0.165388,-2.538681,-7.466447
SLV2,6.828099,6.767064,2.859160,2.722391,1.000000,1.041700,2.831125,3.119699,2.202143,1.833285,...,1.271189,-1.374131,-1.632763,-1.791399,-2.382275,-1.379224,-1.809086,-1.968734,0.491959,-7.970485
ŞİŞ7,12.016899,19.527245,2.807957,2.135483,1.002097,1.187999,2.928365,3.048173,2.549770,1.479732,...,-1.553275,-0.746390,-1.263047,-1.004356,-0.972249,-0.195299,-0.957313,-0.529704,-0.331045,-8.604636
SRY5,40.877450,26.519386,2.735085,2.110350,1.003238,1.160418,2.357330,3.148960,2.586623,1.720389,...,0.469785,-1.171207,-1.408642,-1.235046,-0.955789,1.021483,-0.871934,-0.886612,-2.791093,-13.054366

In [313]:
df_team_grouped.to_excel(r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\parquet_files\team_performance.xlsx")

In [304]:
df.to_parquet(r"C:\Users\mkaya\OneDrive\Masaüstü\istanbul112_hidden\data\case_reports\europe\parquet_files\work_file_final.parquet")